# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.env
vn/

# Django specific
*.log
db.sqlite3
media/

# IDE / Editor files
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db


