{% extends "base/base.html" %}
{% block content %}
      {% load humanize %}
     
      <style>
            .btn-nav .btn-membreship img
            {
                  box-shadow: #85abf1 0px 0px 10px 0px;
                  border: 1px solid #eeeeee;
            }
            .section-membreship {
                  /* background-color: white; */
                  background:    radial-gradient(125% 125% at 50% 10%, #fff 40%, rgb(250, 202, 255) 100%);
            }
            .section-membreship h5, h3 {
                  color: rgb(24, 24, 24) !important;
            }
            .section-membreship .tt {
                  color: rgba(59, 59, 59, 0.666) !important;
            }
            .btn-paypal {
                  background-color: black;
                  width: 11rem; height: 2.9rem;
                  color: wheat;
                  border-radius: 2rem;
                  border: 0px;
            }
      </style>

      <section class=" position-absolute w-100 top-0 start-0 z-2 section-membreship position-relative text-white h-100 pb-4  d-flex align-content-center justify-content-center flex-wrap  rounded-5 ">
            <button class="position-absolute text-black-50 top-0 start-0 ms-3 mt-2 bg-transparent border-0" onclick="window.location.href = '{% url 'membreship:membreship' %}' ">
                  <i class="bi bi-arrow-left-circle-fill"
                  style="font-size: 30px; color: rgb(88, 88, 88);"></i>
            </button>
            Compra Servicio Premium
            <div class="w-100 d-flex flex-wrap  justify-content-center">
                  <form  id="form-pay"
                  method="post"
                  action="https://www.sandbox.paypal.com/cgi-bin/webscr">
                              {% csrf_token %}
                              {{ form.render }}
                        </form>
                  </div>
            </div>
      </section>
      <!--Jquery-->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
document.addEventListener("DOMContentLoaded", function() {
      let form_pay = document.querySelector("#form-pay");
      let button = document.createElement('button');
      button.onclick = function() { A(); }; // Asigna correctamente la función A
      button.classList.add('btn-paypal');
      button.innerHTML = 'Pagar con <i class="bi bi-paypal"></i>';
      form_pay.appendChild(button);

      let imgInput = form_pay.querySelector("input[type='image']");
      if (imgInput) {
            imgInput.classList.add("d-none");
      }

      function A() {
            $.ajax({
                  url: '/membreship/ajax/create-pay/',
                  data: {
                  name_plan: document.querySelector('#id_item_name').value,
                  price_plan: document.querySelector('#id_amount').value
                  },
                  success: function(response) { 
                  console.log("Pago creado:", response);
                  }
            });
      }
});
      </script>

{% endblock  %}