{% extends "base/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}



<style>
        .bg-primary 
        {
            background-color: #427bff !important;
        }
        .bg-success 
        {
            background-color: #ffffff !important;
        }
        .bg-warning
        {
            background-color: #e9e9e9 !important;
        } 
    .btn-dashboard a span
{

      color: #5389ff !important;
      width: max-content !important;

      
}


.text-danger
{
        color: #ff7171 !important;
}

.text-primary
{
    color: #3c81ff !important;
}
.bg-danger
{
        background-color: #ff7171 !important;
        color: white !important;
}
.ganancias
{
    background-color: #ffffff !important;
}
    

      .chart-container {

    border-radius: 2rem;
}



.bor
{
    border: 0px solid rgb(237, 237, 237);

}
.blue-lis
{
    background-color: #ffffff;
}


.row h2 
{
    font-family: Quicksand; font-weight: 500;
} 
 .col-md-3 .card
{
    min-height: 6.5rem;
    border: none; background-color: white !important;



}

.row  .col-lg-4 p
{ 
    font-size: 12px !important;  color: gray; line-height: 14px;

}
.row  .col-lg-4  h5 
{
    margin-top: 1.2rem !important;
    font-weight:  bold !important;
}

.card-title {
      color: black;
}

</style>



    

    
<main class="vh-100 overflow-scroll pb-5">
    
        <div  class="container  " data-aos="fade-in" style="transition: 1s;">
            <section>
                <div class="row text-start mt-3 mb-5">
                    <div class="col-lg-4" data-aos="fade-down" style="transition:  0.5s ease-out ; transition-delay: 0.2s; " >
                        <img src="{% static "icons/up-grafi.png" %}" width='50' height="40" alt="">
                      <h5 class="text-black">Ingresos del mes</h5>
    
                      <p style="text-align: justify;"> <strong class="text-black"> Sugiero</strong> ofrecer nuevos productos como microcréditos, seguros, fondos de inversión o cuentas de ahorro con rendimientos atractivos.</p>
    
                    </div><!-- /.col-lg-4 -->
    
                    <div class="col-lg-4" data-aos="fade-down" style="transition:  0.5s ease-out ; transition-delay: 0.3s; " >
                        <img src="{% static "icons/caja.png" %}" width='50' height="40"alt="">
              
                      <h5>Balance en caja</h5>
                      <p style="text-align: justify;"> <strong>  Se requiere</strong> una reestructuración de deudas con opciones de reestructuración a los clientes con dificultades para pagar. </p>
    
                    </div><!-- /.col-lg-4 -->
    
                    <div class="col-lg-4" data-aos="fade-down" style="transition:  0.5s ease-out ; transition-delay: 0.4s; " >
                        <img src="{% static "icons/dashboard2.png" %}" width='50' height="40" alt="">
              
                      <h5 class="text-black">Analisis general</h5>
                       <p style="text-align: justify;">   <strong class=" text-black ">  Tenemos que lograr </strong> una segmentación de clientes morosos!, asi dividir  los clientes en grupos según su nivel de morosidad y asigna recursos específicos por grupo</p>
    
                    </div><!-- /.col-lg-4 -->
                  </div><!-- /.row -->
            </section>
        
            <div class=" row  pt-2 ">
                <div class="col-md-3">
                    <div class="card text-white  mb-3 p-3 rounded-4 " style="">
                        <div class="card-body">
                            <h6 class="card-title text-black" style="
                                font-weight: bold;">Total invertido</h6>
                            <p class="card-text text-black-50 " style="">
                                 ${{total_inversion|intcomma}}.00  
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-success mb-3  p-3 rounded-4">
                        <div class="card-body">
                            <h6 class="card-title" style="font-weight: bold;">
                                Clientes</h6>
                            <p class="card-text text-black-50">
                                {{customer_count|intcomma}}.00
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-white mb-3 p-3 rounded-4">
                        <div class="card-body">
                            <h6 class="card-title" style="font-weight: bold;"> 
                                 Creditos aprobado</h6>
                            <p class="card-text text-black-50"> 
                                {{credit_count|intcomma}}.00
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white ganancias mb-3 p-3 rounded-4 ">
                        <div class="card-body">
                            <h6 class="card-title" style="font-weight: bold;" >  Ganancias</h6>
                            <p class="card-text text-black"> $450,043.03 </p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row mt-2 bg-white p-2 rounded-4" style="height: 30rem;">
                <div class="col-8">
                    <div class="card rounded-4 border-0">
                        <div class="card-body mt-2">
                            <h6 class="card-title" >Grafico de inversion</h6>
                            <canvas id="loansChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-4 border-0 mt-5" 
                    style="background-color: var(--bg-enfasis);">
                        <div class="card-body ">
                            <h5 class="card-title text-black" 
                            style="font-weight ">
                                Punto destacados a mejorar</h5>
                            <ul class="p-0">
                                <li class=" text-black-50" style="font-size: 14px;">Lograr que los clientes paguen</li>
                                <li class=" text-black-50" style="font-size: 14px;"> Aumentar las formas de Ingresos </li>
                                <li class=" text-black-50" style="font-size: 14px;"> Implementar estrategias</li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="card rounded-4 border-0 mt-3" 
                    style="background-color: #ffffff;">
                        <div class="card-body ">
                            <h5 class="card-title text-black" 
                            style="">
                               Datos de inversion </h5>
                            <ul class="p-0">
                                <li class=" text-black-50 p-0" style="font-size: 14px;">
                                   Este mes fue afectado por la baja demanda </li>
                                <li class=" text-black-50 p-0" style="font-size: 14px;">
                                    Usuario reportaron quejas sobre la tasa variable </li>
                               
                                
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>


      </div><!-- /.container -->

</main>
    
    
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('loansChart').getContext('2d');
var loansChart = new Chart(ctx, {
      type: 'line',
      data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
                  label: 'Inversones',
                  data: [100000, 150000, 200000, 250000, 300000, 350000, 550000, 800000, 600000],
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
            }]
      },
      options: {
            responsive: true,
            scales: {
                  x: {
                        grid: {
                              display: false
                        }
                  },
                  y: {
                        beginAtZero: true,
                        grid: {
                              display: false
                        }
                  }
            }
      }
});
</script>

{% endblock  %}