<style>
      .section-card div {
            width: 20rem; height: 6rem;
            background-color: #191919;
            margin: 0.4rem; border-radius: 1rem;
            display: flex; justify-content: center; align-content: center;
            flex-wrap: wrap;
      }
      .section-card div h6 {
            font-size: 1.2rem;
            color: #f9f9f9b6;
            width: 100%;
            text-align: center;
            margin-top: 1rem;
      }

      .section-card div p {
            font-size: 14px;
            color: #f9f9f9b6;
            width: 100%;
            text-align: center;
      }
</style>

<section class="section-card d-flex w-100 overflow-auto">
      <div>
            <h6>
                   El total invertido
            </h6>
            <p>
                  $ 1,000,000
            </p>
      </div>
      <div>
            <h6>
                  Retorno recuperado
            </h6>
            <p>
                  $ 500,000
            </p>
      </div>
      <div>
            <h6>
                  Porcentaje en perdida
            </h6>
            <p>
                  4% Mensual  
            </p>
      </div>
      <div>
            <h6>
                  Porcentaje en recuperacion
            </h6>
            <p>
                  5% Mensual
            </p>
      </div>
</section>