{% load humanize %}
<style>
      td {
            color: rgba(255, 255, 255, 0.75);
            font-size: 14px;
      }
      @media (max-width: 600px) {
            .description, .tipo {
                  display: none;
            }
       }
</style>
<section style="min-height: 25rem;" class="w-100">
      <table class="w-100 text-white-50">
            <thead>
                  <tr>
                        <th style='width: 2%; font-size: 10px;'>#</th>
                        <th style='width: 15%;'>Fecha </th>
                        <th style='width: 15%;'>Nombre</th>
                        <th class="description" style='width:20%;'>Detalles de inversion</th>
                        <th style='width: 20%;'> Invertido </th>
                        <th style='width: 10%;'>Retorno</th>
                        <th class="tipo" style='width: 10%;'>Disponible</th>
                  </tr>
            </thead>
            <tbody id="movimientos-table">
                  {% if inversions  %}
                        {% for movimiento in inversions %}
                        <tr class="movimiento-row" data-tipo="{{ movimiento.id }}">
                              <td style="font-size: 10px;">  {{ forloop.counter }}</td>
                              <td>{{ movimiento.date|date:"d/m/Y" }}</td>
                              <td> {{ movimiento.name }}</td>
                              <td class="description">{{ movimiento.description }}</td>
                              <td>
                                    <span class="text-success">
                                          ${{ movimiento.mount_inversion|intcomma }}.00
                                    </span>
                              </td>
                              <td>
                                    <span class="text-danger">
                                          ${{ movimiento.mount_retorno|intcomma }}.00
                                    </span>
                              </td>
                              <td class='text-capitalize tipo'>${{ movimiento.mount_disponible|intcomma }}.00</td>
                        </tr>
                        {% endfor %}
                  {% else %}
                        <tr>
                              <td colspan="7" class='  text-center  p-2'>
                                    <!-- <i class="bi bi-exclamation-circle-fill"></i>  -->
                                    <!-- No hay inveriones -->
                              </td>
                        </tr>
                  {% endif %}
            </tbody>
      </table>
      
</section>