{% extends "base/base.html" %}
{% block content %}
{% load static %}
      <style>
            .section-create {
                  display: flex; flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  height: 100vh;

                  color: #d1cfcf ;
            }
            .section-create p {
                  font-size: 12px;
                  text-align: justify;
            }
            .section-create label {
                  display: none !important;
            }
            .section-create input, .form-select, form-control {
                  width: 24rem;
                  margin: 0.1rem; padding: 0.8rem;
                  border-radius: 1rem;
                  border: 1px solid rgb(0, 0, 0);
                  background-color: #191919 !important;
                  outline: none !important;
                  color: #d1cfcf !important;
            }
            .section-create input::placeholder {
                  color: #d1cfcfce !important;
            }
            .section-create  .section-create {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100vh;
            }
            .div-create .d-flex {
                  width: 52rem;
                  padding: 1.5rem; 
                  /* background-color: rgb(255, 255, 255); */
                  
            }
            .div-create h6 {
                  margin-top: 0.5rem; 
            }
      </style>
      <section class='section-create'>
            <div class="d-flex flex-wrap p-4 align-content-start justify-content-center "
            style="width: 20rem;">
                  <label for="id_img" class=" img rounded-5 d-flex justify-content-center align-content-center flex-wrap img-fluid"   
                  style="height: 160px; width: 320px; border: 2px solid #191919;display: flex !important; ">
                        <i class="bi bi-person-vcard-fill" 
                        style="font-size: 40px;"></i>
                        <span class="w-100 text-center">Foto delantera de cedula</span>
                </label>
                <h6 class='w-100 text-start mt-4'>
                        Nuevo cliente
                </h6>
                  <p class="text-white-50">
                        Puedes solo agregar el numero de cedula y el nombre del cliente, pero si deseas agregar mas datos, puedes hacerlo.
                  </p>
            </div>
            
            <div class='div-create '> 
                  <form action="" method="post"  enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class='d-flex flex-wrap rounded-top-4'>
                              {{ form.name}}   {{ form.last_name}}   {{ form.dni}}
                              {{ form.age}}   {{form.sexo}}  
                              {{ form.email}}   {{form.phone}}
                              {{form.province}}  {{form.municipios}}
                              <span class="d-none">
                                    {{form.img}}
                              </span>
                        </div>
                        <div class="d-flex justify-content-end mt-1 rounded-bottom-4">
                              <a href="{% url 'client:client-list' %}" class="btn mt-2 rounded-4 text-white-50 me-2"
                                    style="background-color: #19191900; width: max-content;">
                                    Cancelar
                              </a>
                              <button class="btn mt-2 pe-4 ps-4 rounded-4 text-white-50 me-2"
                                    style="background-color: #191919;">
                                    Guardar 
                              </button>
                        </div>
                  </form>
            </div>
      </section>
      <script>

            document.getElementById('id_img').addEventListener('change', function(event) {
                  const file = event.target.files[0];
                  if (file) {
                        const reader = new FileReader();
                        reader.onload = function(e) {
                              const imgElement = document.querySelector('.img');
                              if (imgElement) {
                                    imgElement.style.backgroundImage = `url(${e.target.result})`;
                                    imgElement.style.backgroundSize = 'cover';
                                    imgElement.style.backgroundPosition = 'center';
                              }
                        };
                        reader.readAsDataURL(file);
                  }
            });
      </script>
{% endblock %}