{% extends "base/base.html" %}
{% block content %}
      {% load static %}
      <style>
                   .btn-nav .btn-clientes img
            {
                  /* background-color: #eeeeee !important; */
                  box-shadow: #d1cfcf 0px 0px 10px 0px;
                  border: 1px solid #eeeeee;
            }

            .section-list {
                  font-size: 14px;
            }
      .table {
              display: table;
              width: 100%;
      }

      .thead {
              display: table-header-group;

              color: var(--text-light);
              font-weight: bold;
      }

      .tbody {
              display: table-row-group;
      }

      .tr {
              display: table-row;
      }

      .th, .td {
              display: table-cell;
              padding: 0.5rem;
              text-align: center;
              border-bottom: 1px solid var(--border-color);
      }

      .th {
              text-transform: uppercase;
              font-size: 12px;
             
      }
      .th
      {
            width: 8rem;
            background-color: rgb(255, 255, 255) !important;
            margin: 0.2rem;
      }

      .td {
            background-color: rgb(237, 237, 237) !important;
            margin: 0.2rem; border-radius: 0.5rem;
            width: 8rem;
            display: flex; flex-wrap: wrap; align-content: center; justify-content: center;
      }
      .td a {
              text-decoration: none;
      }

      .td a:hover {
              text-decoration: underline;
      }

      .btn {
              display: flex;
              align-items: center;
              justify-content: center;
      }
      </style>

      <section>
            <div class="d-flex">
                  <span class="mt-4 me-2">   ({{clients|length}})</span>
                  <input type="text"
                  class="form-control ps-3" 
                  placeholder="Buscar cliente"
                  style="width: 100%; margin-top: 1rem; margin-bottom: 0.2rem;
                  border-radius: 0.8rem; padding: 0.6rem; font-size: 14px; max-width:20rem;">
            </div>
      </section>
      <section class="section-list position-relative">
            <a href="{% url "client:client-create" %}">
                  <button class="position-absolute top-0 mt-2 end-0  border-0 p-0 rounded-circle " style="width: 40px; height: 40px; background-color: var(--bg-2); margin-right: 0.6rem;"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle-fill m-0 p-0 text-primary" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                        </svg>
                  </button>
            </a>

           <div class="bg-transparent p-2 rounded-4  rounded-bottom-2 ">
            <div class="table-responsive mt-1">
                  <div class="tr d-flex">
                        <span class="th flex-fill">Nombre y Apellidos</span>
                        <span class="th flex-fill">DNI</span>
                        <span class="th flex-fill">Edad</span>
                        <span class="th flex-fill">Sexo</span>
                        <span class="th flex-fill">Teléfono</span>
                        <span class="th flex-fill">Correo</span>
                        <span class="th flex-fill">Fecha</span>
                        <span class="th flex-fill">Acciones</span>
                  </div>
                  <div class="table-body">
                        {% if clients %}
                              {% for client in clients %}
                              <div class="tr d-flex">
                                    <span class="td flex-fill">{% if client.name %} {{ client.name }} {% else %} ... {% endif %} {% if client.last_name %} {{ client.last_name }} {% else %} ... {% endif %}</span>
                                    <span class="td flex-fill">
                                          {% if client.dni %} {{ client.dni }} {% else %} ... {% endif %}
                                    </span>
                                    <span class="td flex-fill">{% if client.age %} +{{ client.age }} {% else %} ... {% endif %}</span>
                                    <span class="td flex-fill">{% if client.sexo %} {{ client.sexo }} {% else %} ... {% endif %}</span>
                                    <span class="td flex-fill">{% if client.phone %} {{ client.phone }} {% else %} ... {% endif %}</span>
                                    <span class="td flex-fill">{% if client.email %} {{ client.email|truncatechars:13 }} {% else %} ... {% endif %}</span>
                                    <span class="td flex-fill">{% if client.date %} {{ client.date|date:"d/m/Y" }} {% else %} ... {% endif %}</span>
                                    <span class="td flex-fill d-flex ">
                                          <!-- <a href="{% url 'client:client-delete' client.id %}" class="">
                                                <button class="btn btn-dark bg-transparent border-0 text-black btn-sm rounded-5 ps-3 pe-3">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                                                      </svg> Eliminar
                                                </button>
                                          </a> -->
                                          <a href="{% url 'client:client-update' client.id %}">
                                                <button class="btn btn-primary ps-3 pe-3 btn-sm rounded-5">Editar</button>
                                          </a>
                                    </span>
                              </div>
                              {% endfor %}
                        {% else %}
                              <div class="table-row">
                                    <span class="table-cell text-black-50" style="text-align: center; font-weight: bold;" colspan="8">No hay clientes actualmente</span>
                              </div>
                        {% endif %}
                  </div>
            </div>
           </div>

      </section>
{% endblock %}