{% extends "base/base.html" %}
{% block content %}
      {% load static %}
      <style>
            .btn-nav .btn-clientes img   {
            /* background-color: #eeeeee !important; */
            box-shadow: #d1cfcf 0px 0px 10px 0px;
            border: 1px solid #eeeeee;
      }

      .section-list {
            font-size: 14px;
      }

      .table {
              display: table;
              width: 100%;
      }

      .thead {
              display: table-header-group;

              color: var(--text-light);
              font-weight: bold;
      }

      .tbody {
              display: table-row-group;
      }

      .tr {
              display: table-row;
      }

      .th, .td {
              display: table-cell;
              padding: 0.5rem;
              text-align: center;
              border-bottom: 1px solid var(--border-color);
      }

      .th
      {
            width: 8rem;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            margin: 0.2rem;
      }

      .td {
            background-color: #191919 !important;
            margin: 0.2rem; border-radius: 0.5rem;
            width: 8rem; height: 2rem;
            color: #d1cfcf;
            display: flex; flex-wrap: wrap; align-content: center; justify-content: center;
      }

      .td a {
              text-decoration: none;
      }

      .td a:hover {
              text-decoration: underline;
      }

      .btn {
              display: flex;
              align-items: center;
              justify-content: center;
      }

      .img-dni-view {
            position: fixed;
            width: 100vw !important; height: 100vh;
            top: 0; left: 0;
            z-index: 100;justify-content: center !important;
            background-color: transparent !important;
      }

      .img-dni {
            transition: 0.4s;
            cursor: pointer;
      }

      .ampliar-img{
            transition: 0.5s;
            width: 400px !important;
            height: max-content !important;
            aspect-ratio: 3 / 2;
            object-fit: cover;
            border-radius: 1rem !important;
      }

      .img-dni:hover {
            transform: scale(1.1);
      }
      </style>

      <section>
            <h6 class="m-0  text-white rounded-5 p-2 ps-3 pe-3 " style="width: max-content; background-color: #191919;">
                  ({{clients|length}})  Clientes registrados
            </h6>
            <p class="m-0 ms-2 text-white-50">
                  Aquí puedes ver la lista de clientes registrados en el sistema, puedes editar o eliminar los clientes.
            </p>
            <div class="d-flex  w-100 start-0 top-0 z-2 position-absolute d-lg-flex justify-content-end">
                  <!-- <span class="mt-4 me-2">   </span> -->
                  <!-- <input type="text"
                  class="form-control ps-3 me-3"  
                  placeholder="Buscar cliente"
                  style="width: 100%; margin-top: 1rem; margin-bottom: 0.2rem;
                  border-radius: 2rem; padding: 0.6rem; font-size: 14px; max-width:16rem;"> -->
            </div>
      </section>
      <section class="section-list position-relative mt-5">
            {% include "client/cp/options-client.html" %}
           <div class="bg-transparent p-2 rounded-4  rounded-bottom-2 ">
            <div class="table-responsive mt-1">
                  <div class="tr d-flex text-white mb-1">
                        <span class="th flex-fill" style="width: 10rem;">Nombre y Apellidos</span>
                        <span class="th flex-fill">DNI</span>
                        <span class="th flex-fill">Edad</span>
                        <span class="th flex-fill">Sexo</span>
                        <span class="th flex-fill">Teléfono</span>
                        <span class="th flex-fill">Correo</span>
                        <span class="th flex-fill">Ingresado</span>
                        <span class="th flex-fill">Acciones</span>
                  </div>
                  <div class="table-body">
                        {% if clients %}
                              {% for client in clients %}
                              <div class="tr d-flex">
                                    <span onclick="ViewClient(this.getAttribute('data_id'))"
                                     data_id="{{client.id}}" id="client-view{{client.id}}"  class="td flex-fill justify-content-start blur-10" style="width: 10rem; cursor: pointer;"> 
                                          <img  {% if client.img %}
                                          src="{{client.img.url}}"
                                          {% endif %}   id="img-dni{{client.id}}"   class=" img-dni  object-fit-cover ms-2 bg-transparent rounded-circle " style="border: 1px; width: 20px; height: 20px; border: 4px solid rgba(255, 255, 255, 0.224); " alt="">
                                          <span id="name{{client.id}}" class="d-flex flex-wrap align-content-center ms-2">
                                            {% if client.name %} {{ client.name|truncatechars:6 }} {% else %} ... {% endif %} {% if client.last_name %} {{ client.last_name|truncatechars:6 }} {% else %} ... {% endif %}
                                          </span>
                                    </span>
                                    <span class="td flex-fill">
                                          {% if client.dni %} {{ client.dni }} {% else %} ... {% endif %}
                                    </span>
                                    <span class="td flex-fill">{% if client.age %} +{{ client.age }} {% else %} ... {% endif %}</span>
                                    <span class="td flex-fill">{% if client.sexo %} {{ client.sexo }} {% else %} ... {% endif %}</span>
                                    <span class="td flex-fill">{% if client.phone %} {{ client.phone }} {% else %} ... {% endif %}</span>
                                    <span class="td flex-fill">{% if client.email %} {{ client.email|truncatechars:13 }} {% else %} ... {% endif %}</span>
                                    <span class="td flex-fill">{% if client.date %} {{ client.date|date:"d/m/Y" }} {% else %} ... {% endif %}</span>
                                    <span class="td flex-fill d-flex ">
                                          <!-- <a href="{% url 'client:client-delete' client.id %}" class="">
                                                <button class="btn btn-dark bg-transparent border-0 text-black btn-sm rounded-5 ">
                                                 l
                                                </button>
                                          </a> -->
                                          <a href="{% url 'client:client-update' client.id %}" class="justify-content-center">
                                                <button class="btn text-white ps-3 pe-3 btn-sm rounded-5">Editar</button>
                                          </a>
                                    </span>
                              </div>
                              {% endfor %}
                        {% else %}
                              <div class="table-row">
                                    <span class="table-cell text-white-50" style="text-align: center; font-weight: bold;" colspan="8">No hay clientes actualmente</span>
                              </div>
                        {% endif %}
                  </div>
            </div>
           </div>

      </section>

      <script>
            function ViewClient(id) {
                  let img = document.getElementById('img-dni'+id)
                  let name = document.getElementById('name'+id)
                  let client = document.getElementById('client-view'+id)
                  client.classList.toggle('img-dni-view')
                  img.classList.toggle('ampliar-img')



                  if (name.classList.contains('d-none')) {
                                    setTimeout(() => {
                                          name.classList.remove('d-none');
                                    }, 500); 
                  }
                         else {
                              name.classList.add('d-none');
                        }
      
            }
      </script>
{% endblock %}