{% extends "base/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}



<style>
        .bg-primary 
        {
            background-color: #427bff !important;
        }
        .bg-success 
        {
            background-color: #ffffff !important;
        }
        .bg-warning
        {
            background-color: #e9e9e9 !important;
        } 

        .btn-nav .btn-dashboard  a span
        {
            /* color: #424242 !important; */
            /* font-weight: bold !important; */
            /* background-color: #f9f9f9 !important; */
        }
        .btn-nav .btn-dashboard img
        {
            /* background-color: #eeeeee !important; */
            box-shadow: #d1cfcf 0px 0px 10px 0px;
            border: 1px solid #eeeeee;
        }


.text-danger
{
        color: #ff7171 !important;
}

.text-primary
{
    color: #3c81ff !important;
}
.bg-danger
{
        background-color: #ff7171 !important;
        color: white !important;
}
.ganancias
{
    background-color: #ffffff !important;
}
    

      .chart-container {

    border-radius: 2rem;
}



.bor
{
    border: 0px solid rgb(237, 237, 237);

}
.blue-lis
{
    background-color: #ffffff;
}


.row h2 
{
    font-family: Quicksand; font-weight: 500;
} 
 .col-md-3 .card
{
    min-height: 6.5rem;
    border: none; background-color: white !important;

}

.row  .col-lg-4 p
{ 
    font-size: 12px !important;  color: gray; line-height: 14px;

}
.row  .col-lg-4  h5 
{
    margin-top: 1.2rem !important;
    font-weight:  bold !important;
}

.card-title {
      color: black;
}

.section-content {
    display: flex;  flex-wrap: wrap;
    align-content:end;
    
}
.div-ia-sugerencia 
{
    width: 23rem ;
    min-width: 23rem;
    margin: 0.6rem;
}
.div-ia-sugerencia  p {
    font-size: 12px;
    color: black;
}

.content-datos .col-md-3 {
    width: 20rem; min-width: 20rem;
}

@media (max-width:600px) {
    .section-dashboard {
        margin-bottom: 7rem;
    }
}

    .section-dashboard .card {
        background-color: #101010 !important;
        color: white !important;
    }
    .section-dashboard .card span, h6, strong, p,  h5 {
        color: rgba(255, 255, 255, 0.839) !important;
    }
    .bi {
        color: #ffffff !important;
        font-size: 35px;
        /* margin-bottom: rem !important; */
    }
    .div-ia-sugerencia h5 {
        margin-top: 0.5rem !important ;
        margin-bottom: 0rem !important;
        font-weight: bold;
    }
    .div-ia-sugerencia p {
        margin: 0px !important;
    }
</style>
    
<section class="section-dashboard overflow-scroll h-100 pt-0 align-content-center flex-wrap">
    <div class="  d-flex text-start justify-content-between w-100 overflow-scroll">
        <div class=" div-ia-sugerencia d-flex  align-content-center " data-aos="fade-down" style="transition:  0.5s ease-out ; transition-delay: 0.2s; " >
         <div class="d-flex align-content-center flex-wrap me-4">
            <i class="bi bi-currency-exchange"></i>
         </div>
            <div class="d-flex align-content-center flex-wrap">
                <h5 class="">
                    Ingresos del mes 
                </h5>
                <p style="text-align: justify;" class=""> <strong class=""> Sugiero</strong> ofrecer nuevos productos como microcréditos, seguros, fondos de inversión o cuentas de ahorro con rendimientos atractivos</p>
            </div>
        </div>

        <div class=" div-ia-sugerencia d-flex" data-aos="fade-down" 
            style="transition:  0.5s ease-out ; transition-delay: 0.3s; " >
            <div class="d-flex align-content-center flex-wrap me-4">
                <i class="bi bi-piggy-bank-fill" ></i>
            </div>
            <div class="d-flex align-content-center flex-wrap">
                <h5 class="">Balance en caja</h5>
            <p style="text-align: justify;"> <strong>  Se requiere</strong> una reestructuración de deudas con opciones de reestructuración a los clientes con dificultades para pagar.</p>
            </div>
        </div>

        <div class=" div-ia-sugerencia d-flex" data-aos="fade-down" 
            style="transition:  0.5s ease-out ; transition-delay: 0.4s; " >
            <div class="d-flex align-content-center flex-wrap me-4">
                <i class="bi bi-wallet-fill"></i>
            </div>
            <div class="d-flex align-content-center flex-wrap">
                <h5 class="">Analisis general</h5>
            <p style="text-align: justify;">   <strong class="  ">  Tenemos que lograr </strong> una segmentación de clientes morosos!, asi dividir  los clientes en grupos según su nivel de morosidad y asigna recursos específicos por grupo</p>
            </div>
        </div>
    </div>

    <div class="d-flex content-datos justify-content-start w-100 overflow-scroll pe-2">
        <div class="col-md-3">
            <div class="card  text-white  mb-3 p-3 rounded-5 ">
                <div class="card-body">
                    <h6 class="card-title " style="
                        font-weight: bold;">Total invertido</h6>
                    <p class="card-text ">
                         ${{total_inversion|intcomma}}0.00  
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 ms-1 me-1 ">
            <div class="card text-white bg-success mb-3  p-3 rounded-5">
                <div class="card-body">
                    <h6 class="card-title" style="font-weight: bold;">
                        Clientes</h6>
                    <p class="card-text ">
                        {{cont_clients|intcomma}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 me-1">
            <div class="card text-white bg-white mb-3 p-3 rounded-5">
                <div class="card-body">
                    <h6 class="card-title" style="font-weight: bold;"> 
                         Creditos aprobado</h6>
                    <p class="card-text "> 
                        {{count_credits|intcomma}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 me-1">
            <div class="card text-white ganancias mb-3 p-3 rounded-5 ">
                <div class="card-body">
                    <h6 class="card-title" style="font-weight: bold;" >  Ganancias</h6>
                    <p class="card-text "> $450,043.03 </p>
                </div>
            </div>
        </div>
    </div>

    <div  class="  mb-0 bottom-0  d-flex justify-content-center flex-wrap w-100"         
        data-aos="fade-in"      
        style="transition: 1s;">
        <div class="loansChart  w-100 d-flex  justify-content-center align-items-center" 
            style="height: 45vh;">
                <canvas id="loansChart"  style="width: 100%; height: 100%;"></canvas>
            </div> 
    </div>
</section>
    
    
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('loansChart').getContext('2d');
    var loansChart = new Chart(ctx, {
      type: 'line',
      data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
                //   label: 'Inversones',
                  label: 'Creditos en cada mes',
                              data: [0, ],
                              borderColor: '{{request.user.more.company.configuration.color_enfasis}}',
                              backgroundColor: '{{request.user.more.company.configuration.color_enfasis}}', // Background color
                              borderWidth: 2,
                              fill: true,
                              tension: 1 // This creates the wave effect

            }]
      },
      options: {
            responsive: true,
            scales: {
                  x: {
                        grid: {
                              display: false
                        }
                  },
                  y: {
                        beginAtZero: true,
                        grid: {
                              display: false
                        }
                  }
            }
      }
});
</script>

{% endblock  %}