
<style>
      #asistente-input-0 {
            font-size: 30px;
            font-weight: bold;
      }
</style>

    <input placeholder="Escribe algo" id="asistente-input-0" type="text" name="text" class="input text-center rounded-5 mt-2  border-0 w-100 blur-10 "
    style="height: 10rem; background-color: #19191972 !important;" />


<script>

      function FocusAsistentInput() {
            asistente = document.getElementById('asistente-input-0');
            asistente.value = '';
            if (window.innerWidth > 700) {
                  asistente.focus();
            } else {
                  asistente.blur();
            }
      }

</script>