{% extends "base/base.html" %}
{% block content %}
      {% load static %}
            <style>
            .btn-nav .btn-empresa img
            {
                  /* background-color: #eeeeee !important; */
                  box-shadow: #d1cfcf 0px 0px 10px 0px;
                  border: 1px solid #eeeeee;
            }
            .section-create {
                  display: flex; flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  /* height: 100vh; */

            }
            .section-create p {
                  font-size: 12px;
                  text-align: justify;
            }
            .section-create label {
                  display: none !important;
            }
            .section-create input, .form-select, form-control {
                  width: 29rem;
                  margin: 0.1rem; padding: 0.6rem;
                  border-radius: 1rem;
            }
            .section-create  .section-create {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100vh;
            }
            .div-create .d-flex {
                  width: 52rem;
                  padding: 1.5rem; 
                  /* background-color: rgb(255, 255, 255); */
                  
            }
            .div-create h6 {
                  margin-top: 0.5rem; 
            }
            .div-create #id_description {
                  height: 10rem; border-radius:1rem;
                  max-width: 58rem;
                  margin: 0.1rem; 
            }

            .profile {
                        text-align: center;
                  }
                  .cover-photo img {
                        width: 100%;
                        height: 15rem;
                        object-fit: cover;
                        border-radius: 1rem;  
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                  }
                  .profile-photo img {
                        width: 140px;
                        height: 140px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-top: -100px;
                        border: 6px solid var(--bg-2);
                  }
                  .profile-info {
                        margin-top: 10px;
                  }
            </style>
      <section>
          
            <button class="position-absolute btn-disabled bottom-0 mb-2 me-2 end-0  btn blur-20 bg-white bg-opacity-75 rounded-5">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                      </svg> Editar 
            </button> 
            <div class="profile position-relative">
                  <div class="cover-photo ">
                        <img src="{{request.user.more.company.img_portada.url}}" alt="Cover Photo" 
                        class="img-portada">
                  </div>
                  <div class="profile-photo">
                        <img src="{{request.user.more.company.logo.url}}" alt="Profile Photo"
                        class="img-logo bg-white bg-opacity-50 blur-50">
                  </div>
            <div class="profile-info">
                  <h5 class="p-0 m-0">  
                        {{request.user.more.company.name}}      
                  </h5>
                  <p class="text-black-50 p-0 m-0" style="font-size: 12px;">
                        {{request.user.more.company.description}}    
                  </p>
            </div>
            
                  
            <section class='section-create  w-100 '>
                  <div class='div-create  w-100   ' > 
                        <form action="" method="post" enctype="multipart/form-data" 
                              class="d-flex flex-wrap justify-content-center w-100">
                              {% csrf_token %}
                              <div class='d-flex flex-wrap rounded-top-4  w-100 justify-content-center' 
                                    style="max-width: 66rem;">
                                    {{ form.name}}   {{ form.rnc}}  
                                    {{form.interes}}  
                                    {{ form.facebook}}   {{form.phone}}
                                    {{form.porcentaje_mora}}  
                                    {{ form.description}}  
                                    <span class="d-none">
                                          {{ form.img_portada}}
                                          {{ form.logo}}
                                    </span>
                                    <div class="d-flex justify-content-end btn-actualizar m-1 rounded-bottom-4 w-100">
                                          <button class="btn bg-primary  text-white mt-2 rounded-5">
                                                Actualizar
                                          </button>
                                    </div>
                              </div>
                        </form>
                  </div>
            </section>
      </div>


</section>
      <script>
            document.getElementById('id_description').setAttribute('maxlength', '30');
            window.onload = function() {
                  Disbled_Enabled();
            }
            document.querySelector('.btn-disabled').addEventListener('click', function() {
                  Disbled_Enabled();

            });

            function Disbled_Enabled() {
                  const inputs = document.querySelectorAll('input, .form-select, .form-control');
                  inputs.forEach(input => {
                        input.disabled = !input.disabled;
                  });

                  const btnActualizar = document.querySelector('.btn-actualizar');
                  btnActualizar.classList.toggle('d-none');

            }


            document.getElementById('id_logo').addEventListener('change', function(event) {
                  console.log('cambio');
                  const reader = new FileReader();
                  reader.onload = function(e) {
                        document.querySelector('.img-logo').src = e.target.result;
                  }
                  reader.readAsDataURL(event.target.files[0]);
            });

            window.onload = function() {
                  Disbled_Enabled();
                  document.querySelector('.img-logo').addEventListener('click', function() {
                        document.getElementById('id_logo').click();
                        document.getElementById('id_logo').addEventListener('change', function(event) {
                                const reader = new FileReader();
                                reader.onload = function(e) {
                                          document.querySelector('.img-logo').src = e.target.result;
                                }
                                reader.readAsDataURL(event.target.files[0]);
                        });

                  });


                  document.querySelector('.img-portada').addEventListener('click', function() {
                        document.getElementById('id_img_portada').click();
                        document.getElementById('id_img_portada').addEventListener('change', function(event) {
                              const reader = new FileReader();
                              reader.onload = function(e) {
                                    document.querySelector('.img-portada').src = e.target.result;
                              }
                              reader.readAsDataURL(event.target.files[0]);
                        });

                  });

            }
      </script>
{% endblock %}