{% load humanize %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
<style>

      .plans .card-plan {
            width: 22rem; 
            width: 22rem; height: 36.5rem;
            border: 1px rgb(203, 203, 203) solid;
            margin: 0.4rem; padding: 2rem;
            border-radius: 2rem;
            background-color: rgba(255, 255, 255, 0.892);

            ;
      }
      .plans .card-plan button {

            transition: 1s;
            font-weight: bold;
            width: 10rem;
            
      }
      .plans .card-plan button:hover {

            transform: scale(1.1);
      }

      .plans .card-plan h6 {
            font-size: 35px;
            font-weight: bold;
      }
      .plans .card-plan .detail {
            font-size: 12px;
            color: grey;
            margin-top: 0.9rem;
      }
      .plans .card-plan .div-check  {
            color: #000000 ;
            font-size: 16px; font-weight: 400;
            display: flex; flex-wrap: wrap; align-content: start;
            height: 27rem;
            overflow: scroll;
      }

      .plans .card-plan .div-check span {
            width: 100%;
            /* background-color: #f4f4f4; */
            /* margin: 0.1rem 0.2rem; */
             padding: 0.1rem;
            border-radius: 2rem;
      }
      .plans .card-plan .div-check .tach span {
            /* text-decoration: line-through; */
            color: rgb(128, 128, 128); 
            font-weight: 300;

      }
      .plans .card-plan .div-check .tach span .bi {
            display: none !important;

      }
      .text-1 {
            background: linear-gradient(90deg, #1D3557, #457B9D);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
      }
      .btn-1 {
            background: linear-gradient(90deg, #1D3557, #457B9D);
      }
      .text-2 {
            background: linear-gradient(90deg, #4F4F4F, #2C2C2C);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
      }
      .btn-2 {
            background: linear-gradient(90deg, #4F4F4F, #2C2C2C);
      }
      .text-3 {
            background: linear-gradient(90deg, #fc00ff, #00dbde);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
      }
      .btn-3 {
            background: linear-gradient(90deg, #fc00ff, #00dbde);
      }

</style>


      {% if plans %}
        
      {% for plan in plans %}
        

      <div class="card-plan">
            <strong class="text-{{ forloop.counter }}">
                  {{plan.name}}
            </strong>
            <h6 class="text-{{ forloop.counter }}">
                  ${{plan.price|intcomma}}.00
                  <span style="font-size: 12px;" class="text-black-50">
                        /{{ plan.get_frequency_pay_display }}
                  </span>
            </h6>
            <span class="detail"> 
                  {{ plan.description|truncatechars:40 }}
            </span>
            <div class="div-check ">
                  {% if plan.carateristicas.all %}
                       {% for caracteritica in plan.carateristicas.all %}
                              {% if caracteritica.is_active == True %}
                                    <span>
                                          <i class="bi bi-check"></i> 
                                          {{caracteritica.name}}
                                    </span>
                              {% endif %}
                       {% endfor %}
              
                        <div class="tach d-flex flex-wrap">
                              {% for caracteritica in plan.carateristicas.all %}
                                    {% if caracteritica.is_active == False %}
                                          <span>
                                                {{caracteritica.name}}
                                          </span>
                                    {% endif %}
                              {% endfor %}
                        </div>
                        {% else %}
                        <span>
                              ...
                        </span>
                  {% endif %}
            </div>
            <div class="d-flex w-100 justify-content-center">
                  <button class="border-0  text-white p-2 rounded-5 btn-{{ forloop.counter }} ">
                        Escoger
                  </button>
            </div>
      </div>
      {% endfor %}

      {% endif %}


