{% load humanize %}
<style>
      .thead {
            font-weight: bold;
            background-color: #ffffff;
            padding: 8px;
            margin-bottom: 3px;
            
      }

      .tr {
            display: flex;
            justify-content: start;
            /* border-bottom: 1px solid #dee2e6; */
            /* padding: 8px 0; */
            transition: 0.3s;
      }

      .th, .td {
            flex: 1;
            text-align: center;
            padding: 8px;
            border-radius: 0.7rem;
            
      }

      .td
      {
            background-color: rgb(255, 255, 255) ;
            margin: 0.1rem;
      }

      .td button {
            cursor: pointer;
            font-weight: normal !important;
      }

      .td span {
            display: inline-block;
            min-width: 100px;
      }

      .text-primary {
            color: #007bff !important;
      }

      .total-selected {
            font-weight: bold;
            margin-top: 10px;
            text-align: right;
      }
</style>
<div class="w-100">
      <div class="thead">
            <div class="tr">

                  <div class="th">
                        Seleccion
                  </div>
                  <div class="th">Credito</div>
                  <div class="th">Monto de cuota</div>
                  <div class="th">Abono</div>
                  <div class="th">Mora</div>
                  <div class="th">Vence</div>
                  <div class="th"> Dias de gracias</div>
                  <div class="th">Total a pagar</div>
            </div>
      </div>
      <div class="tbody">
            {% if cuotas %}
                  {% for cuota in cuotas %}
                  <div class="tr">
                        <div class="td"> 
                              <!-- {{ forloop.counter }} -->
                              <button id="btn-ch{{ cuota.id }}" class='btn-ch bg-transparent border-0' data-id="{{ cuota.id }}" data-monto="{{ cuota.monto_mas_mora }}" onclick="toggleSelection(this)">
                                    <svg id="ckeck{{cuota.id}}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="d-none bi bi-check2-circle" viewBox="0 0 16 16">
                                          <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                                          <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                        </svg>
                                        <svg id="bi{{cuota.id}}" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"  class=" bi bi-circle" viewBox="0 0 16 16">
                                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        </svg>
                                    <span id="select{{cuota.id}}">Seleccionar</span>
                              </button>
                        </div>
                        <div class="td"> 
                              <span class="">{{ cuota.credit|truncatechars:"10" }}</span> 
                        </div>
                        <div class="td">${{ cuota.monto|intcomma }}.00</div>
                        <div class="td">
                              ${{ cuota.abono|intcomma }}.00
                        </div>
                        <div class="td"> 
                              ${{ cuota.mora|intcomma }}.00
                        </div>
                        <div class="td">{{ cuota.start_date|date:"d/ m/ Y" }}</div>
                        <div class="td">{{ cuota.end_date|date:"d/ m/ Y" }}</div>
                        <div class="td">
                              ${{ cuota.monto_mas_mora|intcomma }}.00
                        </div>
                  </div>
                  {% endfor %}
            {% else %}
                  <div class="tr">
                        <div class="td" colspan="11" 
                        class="text-black-50"
                        style="text-align: center; font-weight: bold;">No hay creditos actualmente</div>
                  </div>
            {% endif %}
      </div>
</div>

<script>
      let selectedButtons = new Set();

      function toggleSelection(button) {
            const monto = parseFloat(button.getAttribute('data-monto'));
            if (selectedButtons.has(button)) {
                  selectedButtons.delete(button);
                  button.classList.remove('text-primary');
                  document.querySelector('#ckeck' + button.getAttribute('data-id')).classList.add('d-none');
                  document.querySelector('#bi' + button.getAttribute('data-id')).classList.remove('d-none');
                  document.querySelector('#select' + button.getAttribute('data-id')).innerText = 'Seleccionar';
            } else {
                  selectedButtons.add(button);
                  button.classList.add('text-primary');
                  document.querySelector('#ckeck' + button.getAttribute('data-id')).classList.remove('d-none');
                  document.querySelector('#bi' + button.getAttribute('data-id')).classList.add('d-none');

                  document.querySelector('#select' + button.getAttribute('data-id')).innerText = 'Seleccionado';

            }
            updateTotalMonto();
      }

      function updateTotalMonto() {
            let totalMonto = 0;
            selectedButtons.forEach(button => {
                  totalMonto += parseFloat(button.getAttribute('data-monto'));
            });
            document.querySelector('.total-selected').innerText =  'RD$' + totalMonto.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
      }
</script>
