<style>
      .section-filter .form-select,  .input {
            margin: 0.2rem;
            padding: 0.5rem;
            width: 10rem;
            border-radius: 0.5rem;
            border: 0px solid #eeeeee;
            font-weight: bold;
            background-color: #202022 !important;
            color: #d1cfcf !important;
      }
</style>
<section class="d-flex section-filter ">

      <form id="filters-form" class="d-flex justify-content-end w-100">
            <input type="text" class="input " lang="es" name="search" placeholder="Buscar" value="{{ request.GET.search }}"
            style="width: 15rem;">

            <!-- Filtro de Meses -->
            <select id="month-filter"class="form-select"  name="month">
                  <option value="">Mes</option>
                  <option value="1">Enero</option>
                  <option value="2">Febrero</option>
                  <option value="3">Marzo</option>
                  <option value="4">Abril</option>
                  <option value="5">Mayo</option>
                  <option value="6">Junio</option>
                  <option value="7">Julio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
            </select>

            <!-- Filtro de Años -->
            <select id="year-filter" class="form-select" name="year">
                  <option value="">Año</option>
                    <option value="2030">2030</option>
                    <option value="2029">2029</option>
                    <option value="2028">2028</option>
                    <option value="2027">2027</option>
                    <option value="2026">2026</option>
                    <option value="2025">2025</option>
            </select>

            <!-- Filtro de Atrasos -->
            <select id="delays-filter" class="form-select" name="delays">
                  <option value="">Con atrasos</option>
                  <option value="no">Sin atrasos</option>
                  <option value="yes">Al dia</option>
            </select>

            <!-- Filtro de Pendientes -->
            <select id="pending-filter" class="form-select" name="pending">
                  <option value="yes">Pendientes</option>
                  <option value="no">Saldados</option>
            </select>
      </form>

</section>