<form action="" method="post">
      {% csrf_token %}
      <div class='d-flex flex-wrap rounded-top-4'>
            {{form.client}} {{form.capital}} {{form.cuotas}} {{form.intereses}} {{form.frecuencia}} {{form.metodo}}
      </div>
      <div class="d-flex justify-content-end mt-1 rounded-bottom-4 ">
            <a onclick="window.history.back()" class="btn text-white-50 d-flex justify-content-center align-content-center flex-wrap"
            style="width: 7rem; height: 1rem;">
                  Atras
            </a>
            <div class=" mt-3 me-3">
                  <strong class="precio-cuota">
                        0.00
                  </strong>
                  <span class="cuotas">
                  </span>
            </div>
            <button class="btn  mt-2 text-white rounded-3 ps-3 pe-3" style="width: 9rem; background-color: #191919;">
                  Abrir credito
            </button>
      </div>
</form>
<script>
      document.addEventListener('DOMContentLoaded', function() {

                  const intereses = document.getElementById('id_intereses'); 
                  //Dandole el valor de intereses de la empresa
                  intereses.value = "{{ request.user.more.company.interes }}";

                  const frecuecia = document.getElementById('id_frecuencia');
                  const metodo = document.getElementById('id_metodo');
                  const cuotas = document.getElementById('id_cuotas');
                  const capital = document.getElementById('id_capital');

                  capital.addEventListener('input', function(e) {
                        Calculadora_Intereses(  capital.value.replace(/,/g, ''), cuotas.value, intereses.value, frecuecia.value, metodo.value);
                        let value = e.target.value;
                        value = value.replace(/,/g, '');
                        if (!isNaN(value) && value !== '') {
                              e.target.value = parseInt(value).toLocaleString();
                        }
                  });

                  cuotas.addEventListener('input', function() {
                        Calculadora_Intereses(  capital.value.replace(/,/g, ''), cuotas.value, intereses.value, frecuecia.value, metodo.value);
                  });

                  intereses.addEventListener('input', function() {
                        Calculadora_Intereses(  capital.value.replace(/,/g, ''), cuotas.value, intereses.value,frecuecia.value, metodo.value );
                  });

                  frecuecia.addEventListener('change', function() {
                        Calculadora_Intereses(  capital.value.replace(/,/g, ''), cuotas.value, intereses.value, frecuecia.value, metodo.value);
                  });

                  metodo.addEventListener('change', function() {
                        Calculadora_Intereses(  capital.value.replace(/,/g, ''), cuotas.value, intereses.value, frecuecia.value, metodo.value);
                  });

                  // Iniciarlizar la calculadora
                  frecuecia.value = 'mensual';
                  metodo.value = 'frances';

            // Calculadora de intereses
            function Calculadora_Intereses(capital, plazo, t, frecuencia, tipoAmortizacion='frances') {
                  let tasa = t / 100;
                  let cuota;
                  let periodos;

                  if (frecuencia === 'semanal') {
                        tasa /= 4;
                        periodos = plazo * 4;
                  } else if (frecuencia === 'quincenal') {
                        tasa /= 2;
                        periodos = plazo * 2;
                  } else {
                        periodos = plazo;
                  }

                  if (tipoAmortizacion === 'frances') {
                        cuota = capital * tasa / (1 - (1 + tasa) ** -periodos);
                  } else if (tipoAmortizacion === 'americano') {
                        cuota = capital * tasa;
                  }

                  let amortizacion = [];
                  let saldo = capital;
                  let intereses = 0;

                  for (let periodo = 1; periodo <= periodos; periodo++) {
                        const interes = saldo * tasa;
                        let amortizacionCapital;
                        if (tipoAmortizacion === 'frances') {
                              amortizacionCapital = cuota - interes;
                        } else if (tipoAmortizacion === 'americano') {
                              amortizacionCapital = (periodo === periodos) ? capital : 0;
                        }
                        saldo -= amortizacionCapital;
                        intereses += interes;
                        amortizacion.push({
                              Periodo: periodo,
                              Cuota: cuota.toFixed(2),
                              Interes: interes.toFixed(2),
                              Capital: amortizacionCapital.toFixed(2),
                              Saldo: saldo.toFixed(2)
                        });
                  }
                 document.querySelector('.precio-cuota').textContent = cuotas.value + ' cuotas a : $'  + cuota.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

      const inversion_disponibles = {{ inversion_disponible }};
      capital.addEventListener('input', function(e) {
              let value = e.target.value;
              value = value.replace(/,/g, '');
              if (!isNaN(value) && value !== '') {
                        value = parseInt(value);
                        if (value > inversion_disponibles) {
                                value = inversion_disponibles;
                        }
                        e.target.value = value.toLocaleString();
              }
      });
});
</script>