{% extends "base/base.html" %}
{% block content %}
      {% load static %}
      <style>
            .btn-nav .btn-creditos img
            {
                  /* background-color: #eeeeee !important; */
                  box-shadow: #d1cfcf 0px 0px 10px 0px;
                  border: 1px solid #eeeeee;
            }
            .section-list {
                  font-size: 14px;
            }
      .table {
              display: table;
              width: 100%;
      }

      .thead {
              display: table-header-group;

              color: var(--text-light);
              font-weight: bold;
      }

      .tbody {
              display: table-row-group;
      }

      .tr {
              display: table-row;
      }

      .th, .td {
              display: table-cell;
              padding: 0.5rem;
              text-align: center;
      }

.th
{
              text-transform: uppercase;
              font-size: 12px;
            width: 8rem;

            color: #d1cfcf !important;

            margin: 0.2rem;
      }

      .td {
            background-color: #202022 !important;
            color: #d1cfcf !important;
            margin: 0.2rem; border-radius: 0.5rem;
            width: 8rem;
            height: 2rem;
            display: flex; flex-wrap: wrap; 
            align-content: center; justify-content: center;
      }
      .td a, .btn {
              text-decoration: none;
              color: #d1cfcf;
      }

      .td a:hover {
              text-decoration: underline;
      }

      .btn {
              display: flex;
              align-items: center;
              justify-content: center;
      }
      .last_pay {
        color: rgb(255, 195, 195);
        background-color: rgb(28, 3, 3);
      }
      </style>
      <div class="mb-5">
                <h6 class="m-0 p-0 text-white">
                        Listados de creditos
                </h6>
                <p class="p-0 m-0 text-white-50">
                        Aqui puedes ver todos los creditos que has creado, puedes filtrarlos por mes, año, atrasos y pendientes.
                </p>
      </div>
        {% include "credit/cp/filter.html" %}
      <section class="section-list">
            <a href="{% url "credit:credit-create" %}">
                  <button class="position-absolute top-0 mt-2 end-0  bg-white bg-opacity-10 border-0 p-0 rounded-circle " style="width: 30px; height: 30px;  margin-right: 0.6rem;"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width=20" height=20" fill="currentColor" class="bi bi-plus-circle-fill m-0 p-0 text-white-50" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                        </svg>
                  </button>
            </a>
            <div class=" p-2 rounded-5 ">
                    <div class="table  mt-1 " >
                              <div class="thead mb-4">
                                      <div class="tr d-flex mb-2">
                                                <span class="th bg-transparent flex-fill">Cliente</span>
                                                <span class="th bg-transparent flex-fill">Capital</span>
                                                <span class="th bg-transparent flex-fill">Cuotas</span>
                                                <span class="th bg-transparent flex-fill">Intereses</span>
                                                <span class="th bg-transparent flex-fill">Estado</span>
                                                <span class="th bg-transparent flex-fill">Fecha de Inicio</span>
                                                <span class="th bg-transparent flex-fill">Método de Pago</span>
                                                <span class="th bg-transparent flex-fill">Acciones</span>
                                      </div>
                              </div>
                              <div class="tbody ">
                                      {% if credits %}
                                                {% for credit in credits %}
                                                <div class="tr d-flex">
                                                        <span class="td flex-fill" style="width: 10rem;">
                                                                  <a href="{% url "credit:credit-detail" credit.id %}" style="cursor: pointer;" class=" align-content-center">
                                                                        <img src="{{request.user.more.img.url}}"    class="  object-fit-cover bg-transparent rounded-circle " style="border: 1px; width: 20px; height: 20px; border: 4px solid rgba(255, 255, 255, 0.224); " alt="">
                                                                       <span class="d-flex flex-wrap align-content-center ms-2">
                                                                                {{ credit.client.name|default:"..."|slice:":5" }}     
                                                                                {{ credit.client.last_name|default:"..."|slice:":5" }}
                                                                       </span>
                                                                  </a>
                                                        </span>
                                                        <span class="td flex-fill">${{ credit.capital }}</span>
                                                        <span class="td flex-fill">{{ credit.cuotas }}</span>
                                                        <span class="td flex-fill">{{ credit.intereses }}%</span>
                                                        <span class="td flex-fill text-capitalize {% if credit.last_pay <= date  %}
                                                          last_pay
                                                        {% endif %} " > 
                                                        {% if credit.last_pay <= date  %}
                                                                En atraso
                                                                {% else %}
                                                                Al dia
                                                        {% endif %}
                                                        </span>
                                                        <span class="td flex-fill">{{ credit.start_date|date:"d/m/Y" }}</span>
                                                        <span class="td flex-fill text-capitalize">{{ credit.metodo }}</span>
                                                        <span class="td flex-fill d-flex">
                                                                  <a href="{% url 'credit:credit-delete' credit.id %}" class="">
                                                                        <button class="btn rounded-5 btn-sm" style=""> -
                                                                              Eliminar       
                                                                        </button>
                                                                  </a>
                                                        </span>
                                                </div>
                                                {% endfor %}
                                      {% else %}
                                                <div class="tr d-flex">
                                                        <span class="td flex-fill text-black-50" style="text-align: center; font-weight: bold;" colspan="8">
                                                                  No hay creditos
                                                        </span>
                                                </div>
                                      {% endif %}
                              </div>
                    </div>
            </div>
      </section>
{% endblock %}