{% extends "base/base.html" %}
{% block content %}
      {% load static %}
      <style>
            .section-detail {
                  font-size: 14px;
            }
            .section-detail .div-detail p
            {
                  padding: 0px; margin: 0px;
            }
      </style>
      <section class="section-detail">
            <div class="bg-white p-4 rounded-4 div-detail"
            style="width: 100%; height: max-content;">
                  <div class='d-flex'>
                        <span class="  d-flex flex-wrap align-content-center me-3 justify-content-center top-0 card border-0 p-1 bg-white rounded-5" 
                        style="height: 60px; width: 60px; ">
                        <img src="{% static "img/me.JPEG" %}"    class="  object-fit-cover rounded-circle w-100 h-100" style="border: 1px;" alt="">
                      </span>
                      <h6 class='mt-4'>
                            {{credit.client}}
                      </h6>
                  </div>
                  <hr>
                  <p>
                        <strong>Capital:</strong> ${{credit.capital}}
                  </p>
                  <p>
                        <strong>Cuotas:</strong> {{credit.cuotas}}
                  </p>
                  <p>
                        <strong>Intereses:</strong> {{credit.intereses}}%
                  </p>
                  <p>
                        <strong>Frecuencia:</strong> {{credit.frecuencia}}
                  </p>
                  <p>
                        <strong>Fecha de Inicio:</strong> {{credit.start_date|date:"d - F - Y"}}
                  </p>
            </div>
            <div class='mt-4'>
                  {% include "credit/cp/cuotas.html" %}
            </div>
      </section>
{% endblock %}