{% extends "base/base.html" %}
{% block content %}
{% load static %}
      <style>
               .btn-nav .btn-creditos img
            {
                  /* background-color: #eeeeee !important; */
                  box-shadow: #d1cfcf 0px 0px 10px 0px;
                  border: 1px solid #eeeeee;
            }
            .section-create {
                  display: flex; flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  height: 100vh;
                  color: #d1cfcf;


            }
            .section-create p {
                  font-size: 12px;
                  /* text-align: justify; */
            }
            .section-create label {
                  display: none !important;
            }
            .section-create input, .form-select, form-control {
                  width: 24rem;
                  margin: 0.1rem; padding: 0.8rem;
                  border-radius: 1rem;
                  background-color: #191919 !important;
                  border: 0px;
                  color: #d1cfcf !important;
                  outline: none !important;
            }
            .section-create input::placeholder{
                  color: #eeeeee;
            }

            .section-create  .section-create {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100vh;
            }
            .div-create .d-flex {
                  width: 52rem;
                  padding: 1.5rem; 

                  
            }
            .div-create h6 {
                  margin-top: 0.5rem; 
            }
      </style>
      <section class='section-create'>
            <div class="d-flex flex-wrap p-4 align-content-start justify-content-center "
            style="width: 20rem;">
                  <span class="  rounded-circle" 
                  style="height: 120px; width: 120px; border: 8px solid #191919; ">
                        <img src="{% static "img/me.JPEG" %}"   class="  object-fit-cover w-100 h-100 rounded-circle" style="border: 1px;" alt="">
                </span>
                  <h6 class='w-100 text-start mt-4'>
                              ¿Cómo se realizan los calculos?
                </h6>
                  <p class="text-white-50 overflow-scroll m-0 p-0" style="height: 5.5rem;">
                        Los cálculos se realizan en base al interés mensual. Cuando seleccionas pagos semanales o quincenales, el interés mensual se ajusta de la siguiente manera:
                        <br> <br>
                      <strong>  Pagos semanales:</strong> Si eliges pagar semanalmente, el interés mensual se divide entre 4. Esto significa que cada semana pagarás una cuarta parte del interés mensual.
                        <br> <br>
                       <strong> Pagos quincenales: </strong>Si eliges pagar quincenalmente, el interés mensual se divide entre 2. Esto significa que cada quincena pagarás la mitad del interés mensual.
                        Ejemplo:
                        <br> <br>
                        Si el interés mensual es de 4%, y seleccionas pagos semanales, cada semana pagarás un interés de 1% (4% / 4).
                        Si el interés mensual es de 4%, y seleccionas pagos quincenales, cada quincena pagarás un interés de 2% (4% / 2).
                  </p>
                  <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill text-white-50" viewBox="0 0 16 16">
                              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                  </div>
            </div>
            <div class='div-create '> 
                  {% if inversion_disponible %}
                        {% include "credit/cp/form.html" %}
                        {% else %}
                              <div class="d-flex justify-content-start align-content-center flex-wrap" style="width: 100%;">
                                    <h6 class=" ">
                                          No hay fondos disponibles
                                    </h6>
                                    <p class="w-100">
                                          Para poder abrir un crédito, debes tener fondos disponibles en tu cuenta.
                                    </p>
                                    <a href="{% url 'inversion:inversion'  %}" 
                                          class='btn text-white bg-white bg-opacity-10'>
                                          Agregar fondos
                                    </a>
                              </div>
                        {% endif %}
            </div>

      </section>
{% endblock %}