{% extends "base/base.html" %}
{% block content %}
      {% load static %}
      <style>
            .section-detail {
                  font-size: 14px;
            }
            .section-detail .div-detail p
            {
                  padding: 0px; margin: 0px;
            }
      </style>
      <section class="section-detail overflow-scroll  rounded-5">
            <button class="position-absolute top-0 end-0 bg-primary text-white  border-0 rounded-5 p-2 ps-3 pe-3 mt-4 me-4"  style="">Opciones
            </button>
            <div class="bg-white p-5 pb-5  rounded-4 div-detail rounded-bottom-1"
                  style="width: 100%; height: max-content;">
                  <div class='d-flex'>
                        <span class="  d-flex flex-wrap align-content-center me-3 justify-content-center top-0 card border-0 p-1 bg-white rounded-5" 
                              style="height: 60px; width: 60px; ">
                              <img src="{% static "img/me.JPEG" %}"    class="  object-fit-cover rounded-circle w-100 h-100" style="border: 1px;" alt="">
                      </span>
                      <h6 class='mt-4'>
                            {{credit.client.name}} {{credit.client.last_name}}
                      </h6> 
                  </div>
                  <hr>
                  <p>     <strong>Capital:</strong> ${{credit.capital}}  </p>
                  <p>     <strong>Cuotas:</strong> {{credit.cuotas}}    </p>
                  <p>     <strong>Intereses:</strong> {{credit.intereses}}% </p>
                  <p>     <strong>Frecuencia:</strong> {{credit.frecuencia}} </p>
                  <p>     <strong>Fecha:</strong> {{credit.start_date|date:"d/ m/ Y"}} </p>
            </div>
            <div class='mt-1 rounded-bottom-1 overflow-scroll ' style='height: 57vh;'>
                  {% include "credit/cp/cuotas.html" %}
            </div>
            <div class="mt-1">
                  {% include "credit/cp/nav-bottom.html" %}
            </div>
      </section>
{% endblock %}