{% extends "base/base.html" %}
{% block content %}
{% load static %}
      <style>
               .btn-nav .btn-creditos img
            {
                  /* background-color: #eeeeee !important; */
                  box-shadow: #d1cfcf 0px 0px 10px 0px;
                  border: 1px solid #eeeeee;
            }
            .section-create {
                  display: flex; flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  height: 100vh;
                  color: #d1cfcf;


            }
            .section-create p {
                  font-size: 12px;
                  /* text-align: justify; */
            }
            .section-create label {
                  display: none !important;
            }
            .section-create input, .form-select, form-control {
                  width: 24rem;
                  margin: 0.1rem; padding: 0.8rem;
                  border-radius: 1rem;
                  background-color: #191919 !important;
                  border: 0px;
                  color: #d1cfcf !important;
                  outline: none !important;
            }
            .section-create input::placeholder{
                  color: #eeeeee;
            }

            .section-create  .section-create {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100vh;
            }
            .div-create .d-flex {
                  width: 52rem;
                  padding: 1.5rem; 

                  
            }
            .div-create h6 {
                  margin-top: 0.5rem; 
            }
      </style>
      <section class='section-create'>
            <div class="d-flex flex-wrap p-4 align-content-start justify-content-center "
            style="width: 20rem;">
                  <span class="  rounded-circle" 
                  style="height: 120px; width: 120px; border: 8px solid #191919; ">
                        <img src="{% static "img/me.JPEG" %}"   class="  object-fit-cover w-100 h-100 rounded-circle" style="border: 1px;" alt="">
                </span>
                  <h6 class='w-100 text-start mt-4'>
                              ¿Cómo se realizan los calculos?
                </h6>
                  <p class="text-white-50 overflow-scroll m-0 p-0" style="height: 5.5rem;">
                        Los cálculos se realizan en base al interés mensual. Cuando seleccionas pagos semanales o quincenales, el interés mensual se ajusta de la siguiente manera:
                        <br> <br>
                      <strong>  Pagos semanales:</strong> Si eliges pagar semanalmente, el interés mensual se divide entre 4. Esto significa que cada semana pagarás una cuarta parte del interés mensual.
                        <br> <br>
                       <strong> Pagos quincenales: </strong>Si eliges pagar quincenalmente, el interés mensual se divide entre 2. Esto significa que cada quincena pagarás la mitad del interés mensual.
                        Ejemplo:
                        <br> <br>
                        Si el interés mensual es de 4%, y seleccionas pagos semanales, cada semana pagarás un interés de 1% (4% / 4).
                        Si el interés mensual es de 4%, y seleccionas pagos quincenales, cada quincena pagarás un interés de 2% (4% / 2).
                  </p>
                  <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill text-black-50" viewBox="0 0 16 16">
                              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                  </div>
            </div>
            
            <div class='div-create '> 
                  <form action="" method="post">
                        {% csrf_token %}
                        <!-- <h6>
                              Datos personales
                        </h6> -->
                      <div class='d-flex flex-wrap rounded-top-4'>
                              {{form.client}} {{form.capital}} {{form.cuotas}} {{form.intereses}} {{form.frecuencia}} {{form.metodo}}
                        </div>
                        <div class="d-flex justify-content-end mt-1 rounded-bottom-4 ">
                                <a onclick="window.history.back()" class="btn text-white-50 d-flex justify-content-center align-content-center flex-wrap"
                                          style="width: 7rem; height: 1rem;">
                                          Atras
                                </a>
                              <div class=" mt-3 me-3">
                                    <strong class="precio-cuota">
                                          0.00
                                    </strong>
                                    <span class="cuotas">
                                    </span>
                              </div>
                              <button class="btn  mt-2 text-white rounded-3 ps-3 pe-3" style="width: 9rem; background-color: #191919;">
                                    Abrir credito
                              </button>
                        </div>
                  </form>
            </div>

      </section>
      

<script>

      document.addEventListener('DOMContentLoaded', function() {

                  const intereses = document.getElementById('id_intereses'); 
                  //Dandole el valor de intereses de la empresa
                  intereses.value = "{{ request.user.more.company.interes }}";

                  const frecuecia = document.getElementById('id_frecuencia');
                  const metodo = document.getElementById('id_metodo');
                  const cuotas = document.getElementById('id_cuotas');
                  const capital = document.getElementById('id_capital');

                  capital.addEventListener('input', function(e) {
                        Calculadora_Intereses(  capital.value.replace(/,/g, ''), cuotas.value, intereses.value, frecuecia.value, metodo.value);
                        let value = e.target.value;
                        value = value.replace(/,/g, '');
                        if (!isNaN(value) && value !== '') {
                              e.target.value = parseInt(value).toLocaleString();
                        }
                  });

                  cuotas.addEventListener('input', function() {
                        Calculadora_Intereses(  capital.value.replace(/,/g, ''), cuotas.value, intereses.value, frecuecia.value, metodo.value);
                  });

                  intereses.addEventListener('input', function() {
                        Calculadora_Intereses(  capital.value.replace(/,/g, ''), cuotas.value, intereses.value,frecuecia.value, metodo.value );
                  });

                  frecuecia.addEventListener('change', function() {
                        Calculadora_Intereses(  capital.value.replace(/,/g, ''), cuotas.value, intereses.value, frecuecia.value, metodo.value);
                  });

                  metodo.addEventListener('change', function() {
                        Calculadora_Intereses(  capital.value.replace(/,/g, ''), cuotas.value, intereses.value, frecuecia.value, metodo.value);
                  });



                  // Iniciarlizar la calculadora
                  frecuecia.value = 'mensual';
                  metodo.value = 'frances';



            // Calculadora de intereses
            function Calculadora_Intereses(capital, plazo, t, frecuencia, tipoAmortizacion='frances') {
                  let tasa = t / 100;
                  let cuota;
                  let periodos;

                  if (frecuencia === 'semanal') {
                        tasa /= 4;
                        periodos = plazo * 4;
                  } else if (frecuencia === 'quincenal') {
                        tasa /= 2;
                        periodos = plazo * 2;
                  } else {
                        periodos = plazo;
                  }

                  if (tipoAmortizacion === 'frances') {
                        cuota = capital * tasa / (1 - (1 + tasa) ** -periodos);
                  } else if (tipoAmortizacion === 'americano') {
                        cuota = capital * tasa;
                  }

                  let amortizacion = [];
                  let saldo = capital;
                  let intereses = 0;

                  for (let periodo = 1; periodo <= periodos; periodo++) {
                        const interes = saldo * tasa;
                        let amortizacionCapital;
                        if (tipoAmortizacion === 'frances') {
                              amortizacionCapital = cuota - interes;
                        } else if (tipoAmortizacion === 'americano') {
                              amortizacionCapital = (periodo === periodos) ? capital : 0;
                        }
                        saldo -= amortizacionCapital;
                        intereses += interes;
                        amortizacion.push({
                              Periodo: periodo,
                              Cuota: cuota.toFixed(2),
                              Interes: interes.toFixed(2),
                              Capital: amortizacionCapital.toFixed(2),
                              Saldo: saldo.toFixed(2)
                        });
                  }
                 document.querySelector('.precio-cuota').textContent = cuotas.value + ' cuotas a : $'  + cuota.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
      });
</script>
{% endblock %}