{% load static %}
<style>
    
      .btn-nav 
      {
            width: 12rem;
            display: flex;
            flex-wrap: wrap;    
            /* border: rgb(228, 228, 228) 1px solid; */
            /* border-radius: 2rem; */
      }
      .btn-nav button 
      {
            margin-top: 0.4rem;
            border-radius: 0.1rem ;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400 !important;
            border-left: none !important;
            border-right: none !important;
            border-top: none !important;    border-bottom: none !important;
            /* box-shadow: 0 4px 2px rgba(150, 171, 227, 0.144), 0 2px 2px rgba(236, 236, 236, 0) !important; */

      }
      .btn-nav button:hover
      {
            background-color: #eeeeee;
      }

      .btn-pulse
      {
            background-color: #eeeeee !important;
      }
      .btn-nav button, a
      {
            width: 100%;
            height: auto;
            display: flex; 
            justify-content: start;
            align-content: center;
            border-radius: 1rem;
            border: rgba(227, 227, 227, 0.905) 1px solid;
            color: #000000;
          

            font-size: 14px !important;
            background-color: rgba(224, 246, 255, 0);
      }
      a 
      {
            border: 0 !important;
      background-color: transparent;
      }
      .btn-nav span
      {
            margin-top: rem;
      }
      .btn-nav button img
      {
            margin-right: 0.7rem;
            width: 16px !important;
            margin-top: 0.2rem;


            
      } 
       .btn-nav button:hover  
      {
            box-shadow: none !important;
            /* margin-top: 0.2rem; */
            /* border: rgba(255, 255, 255, 0.789) 1px solid; */
      

      } 
      .btn-nav strong
      {
      
            width: 100%;
            font-size: 10px !important;
            color: rgb(117, 117, 117);
      }
      @media (min-width: 750px){
            .nav-2 
            {
                  display: block !important;
            }
            /* #mn-calc 
            {
                  display: none;
            } */
            .nav-1
      {
            display: none !important;
      }
      #div-list-customer 
      {
            justify-content: start !important;
      }
      
}
.btns-creditos-opciones button
      {
            width: max-content; background-color: white;
            font-size: 12px !important;
            border-radius: 2rem !important;

      }

</style>
<section class="  sec-btn ms-2 me-2   card   mb-1 border-0 overflow-scroll " 
      style="border-radius: 0rem;  height: max-content;

      ">
      <div class='btn-nav  pb-2      ' data-aos="fade-in" style="transition: 1s;" >
            <div class="  pe-3 ps-1  w-100" style=" height: 9rem; border-radius: 0rem;">

                  <div class="position-relative"> 
                      <div class="d-flex justify-content-center align-content-center flex-wrap" style="background-color: var(--bg-enfasis); height: 2.5rem; 
                      border-radius: 2rem;" >
                                 <h6 style="font-size: 14px; font-weight: bold;" class="text-white text-center w-100 p-0 m-0">
                                    <!-- {{request.user.username}} -->{{company.name}}
                              </h6>
                      </div>  
                      <span class="position-absolute mt-4 d-flex flex-wrap align-content-center justify-content-center top-0 card border-0   p-1 bg-white rounded-circle" 
                        style="height: 50px; width: 50px;">
                        {% if company.Icon.url %}
                        <img src="{{company.Icon.url}}" width="40" height="40"  class="  object-fit-cover   rounded-circle" style="border: 1px;" alt="">
                        {% endif %}
                      </span>
                      </span>
                  </div>

                  <div class="d-flex justify-content-center   d-none  me-2" style="line-height: 10px;">
                      <div class="" style="margin-top: 1px;">
                        {% if company.Icon.url %}
                        <img src="{{company.Icon.url}}" width="30" height="30"  class="  object-fit-cover  me-1 " style="border: 1px;" alt="">
                        {% endif %}
                      </div> 
                      <div>
                          <h6 style="font-size: 10px;" class="text-black-50 text-center p-0 m-0">
                              <!-- {{request.user.username}} -->{{request.user.last_name}}
                          </h6>
                          <span >
                             <strong style="font-size: 13px !important;   
                                    font-family: Quicksand,  sans-serif !important; 
                                     font-weight: bold !important;">
                                    {{request.user.first_name}} 
                             </strong>
                          </span>
                          
                      </div>
                      
                  </div>
                  <div class="w-100 d-none">
                        <hr class="me-3 ms-3 text-black-50">
                    </div>
              </div>
             
            <div class="mt- d-none w-100">
                  <strong >
                   App
                  </strong>
            </div>
         
            <a  class=" mt-1 text-decoration-none">
                  <button class="btn-cliente">
                        <img src="{% static "icons/grafico.png" %}" width='24' alt="">
                        <span class=" text-start text-black">
                              Dashboard  
                        </span>
                  </button>
            </a>


            <a >
                  <button class="btn-cliente"> 
                        <img src="{% static "icons/user.svg" %}" width='24' alt="">
                        <span>
                              Clientes  {% if customer_count %} <strong style="font-size: 14px;"> ( {{customer_count}} )</strong> {% endif %} 
                        </span>
                  </button>
            </a>

            <a >
                  <button class="btn-creditos">
                        <img src="{% static "icons/list.svg" %}" width='24' alt="">
                        <span>
                              Creditos
                        </span>
                  </button>
            </a>
        
            <a >

                  <button class="btn-ubicaciones">
                        <img src="{% static "icons/map.svg" %}" width='24' alt="">
                        <span>
                              Ubicaciones
                        </span>
                  </button>
            </a>
  
      
    
            <div class="mt-0 d-none w-100">
                  <strong >
                        Utilidades
                  </strong>
            </div>

            <a >
                  <button class="btn-calendario">
                        <img src="{% static "icons/calendar.svg" %}" width='24' alt="">
                        <span>
                              Agenda
                        </span>
                  </button>
            </a>

            <a  >
                  <button class="btn-mensajeria">
                        <img src="{% static "icons/msj.png" %}" width='24' alt="">
                        <span>
                              Mensajeria
                        </span>
                  </button>
            </a>


            <div class="mt-4 d-none w-100">
                  <strong >
                        Sistema
                  </strong>
            </div>
            <a  >

                  <button  class="mt-2 btn-configuraciones">
                        <img src="{% static "icons/config.svg" %}" width='24' alt="">
                        <span>
                              Configuraciones 
                        </span>
                  </button>
            </a>

            <a  >
                  <button class="btn-empresa">
                        <img src="{% static "icons/Bank.png" %}" width='24' alt="">
                        <span>
                              Empresa
                        </span>
                  </button>
            </a>
            {% comment %} <button>
                  <img src="{% static "icons/document.svg" %}" width='24' alt="">
                  <span>
                        Historial de credito
                  </span>
            </button> {% endcomment %}
    
            {% comment %} <button class="btn-prestamos">
                  <img src="{% static "icons/statu_up.png" %}" width='24' alt="">
                  <span>
                        Inversiones
                  </span>
            </button> {% endcomment %}

      </div>
</section>
<!-- <input type="text"  style="font-size: 14px;  min-width: 200px; min-height: 2.5rem;margin-top: 5px !important;   max-height: 2.5rem; " class="form-search bg-danger  text-center w-100  m-0 mb-1  bg-white bg-opacity-75 "  id="searching-config" 
placeholder=" Buscando Clientes "> -->


<script>
      let resultadoParrafoES = document.getElementById('resultado-es')
      let resultadoParrafo2ES = document.getElementById('resultado-es2')
      let resultadoParrafo3ES = document.getElementById('resultado-es3')
      let plazoES = document.getElementById('plazo-es')
      let numeroES = document.getElementById('numero-es')


      let SuperCal2 = (capital, plazo, tasa)=> {
      
      const Cuotas = capital * tasa / (1 - Math.pow(1 + tasa, -plazo));
      let amortizacion = [];
      let saldo = capital;
      let totalIntereses = 0; 
      for (let mes = 1; mes <= plazo; mes++) {
            const interes = saldo * tasa; 
            const amortizacionCapital = Cuotas - interes;   
            saldo -= amortizacionCapital;
            totalIntereses += interes; 
            amortizacion.push({
                  Mes: mes,
                  Cuota: Cuotas.toFixed(2),
                  Interes: interes.toFixed(2),
                  AmortizacionCapital: amortizacionCapital.toFixed(2),
                  Saldo: saldo.toFixed(2)
            }); }
            let totales = capital + totalIntereses

      const numero = parseFloat(numeroES.value);
  
      resultadoParrafoES.textContent = '$' + Cuotas.toLocaleString(undefined, {maximumFractionDigits: 0}) + '.00';
      resultadoParrafo2ES.textContent = '$' + totalIntereses.toLocaleString(undefined, {maximumFractionDigits: 0}) + '.00'
      resultadoParrafo3ES.textContent = '$' + totales.toLocaleString(undefined, {maximumFractionDigits: 0}) + '.00'
      if(numeroES.value != ''){
            let numero = numeroES.value.replace(/,/g, ''); // Elimina las comas existentes
            if (!isNaN(numero) && numero.trim() !== '') {
                numeroES.value = parseFloat(numero).toLocaleString();
            } else {
                numeroES.value = numeroES.value.replace(/[^\d.]/g, ''); 
                // Elimina cualquier carácter no numérico excepto el punto decimal
            }
      }

} 

numeroES.addEventListener("input", () => {

      
      let numero = numeroES.value.replace(/,/g, ''); // Elimina las comas existentes
      let capital = parseInt(numero)
      let plazo =   plazoES.value
      let tasa = 0.15
      SuperCal2(capital, plazo, tasa)
});
plazoES.addEventListener("input", () => {
      let numero = numeroES.value.replace(/,/g, ''); // Elimina las comas existentes
      let capital = parseInt(numero)
      let plazo =   plazoES.value
      let tasa = 0.15
      SuperCal2(capital, plazo, tasa)
});
</script>