<style>
      .planes .card {
            margin: 0.4rem;
            border-radius: 2rem;
            overflow: hidden;
            /* width: 100% !important; */
            min-width: 340px !important;
            background-color: rgba(255, 255, 255, 0.49) !important;
      }
      .planes .card .btn-primary {
            border-radius: 2rem;
             width: 100%;
            background-color: black;
            color: wheat;
      }
      .planes .card .card-title {
            font-size: 25px;
            font-weight: bold;
      }
      .planes .card .card-text {
            font-size: 14px;
      }
</style>
<section class="planes d-flex overflow-auto">
      <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title"> $0.00 </h5>
              <strong style="font-size: 12px;">
                  Totalmente gratis</strong> 
              <p class="card-text">
                  Excelente para para personas que necesiten realizar un calculo de intereses y aministrar clientes.
            </p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title"> $40.23</h5>
              <strong style="font-size: 12px;">
                  Pruebalo por 3 dias totalmente gratis</strong> 
              <p class="card-text">
                  Capacidades tales como administrar entradas de dinero, creditos, geolocaliza a tus clientes, notificaciones autonomas y mas.
            </p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title"> $120.42 </h5>
              <strong style="font-size: 12px;">
                  Pruebalo por 3 dias totalmente gratis</strong> 
                  <p class="card-text">
                        Recomendado, todas las funciones disponibles, integracion total con  inteligencia artificial
                  </p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title"> $309.00 </h5>
              <strong style="font-size: 12px;">
                  Emprendedores, pequeñas y mediana empresas</strong> 
                  <p class="card-text">
                       Copias de seguridad, asistencia personales, gestion de finanzas, garantias de creditos desde $1,000.00 hasta $6,000.00 dolares a plazos comodos 
                  </p>
            </div>
          </div>
</section>
<style>
      .background {
            background: white;
            background:
            radial-gradient(125% 125% at 50% 10%, #fff 40%, rgb(255, 230, 190) 100%);
      }
</style>