{% load static %}
<a  href="{% url 'perfil:perfil' %}">
      <div class="position-fixed  d-flex bottom-0 p-2 rounded-4 mb-2" 
      style='height: 4rem; width: 13.5rem; cursor: pointer;' >
            
            <div class=" d-flex justify-content-center align-content-center flex-wrap">
                  <img src="{{request.user.more.img.url}}"    class="  object-fit-cover rounded-circle " 
                  style="border: 1px; width: 30px; height: 30px; border: 4px solid rgb(0, 0, 0);  margin-bottom: 0.2rem;" alt="">
            </div>
            <div class='d-flex flex-wrap align-content-center justify-content-center ps-2  w-100'>
                  <h6 style="font-size: 14px;  font-weight: bold;" class="text-white text-start-0 w-100 p-0 m-0">
                        {{request.user.first_name}} {{request.user.last_name}}
                  </h6>
                  <span class='text-white-50 w-100 text-capitalize' 
                  style="font-size: 12px; margin-top: 0rem;">
                  {{request.user.more.role}}
            </span>
            </div>
      </div>
</a>