
<div class="cover-photo">
    <img src="{{request.user.more.company.img_portada.url}}" alt="Cover Photo">
</div>
<style>
  .cover-photo img {
            width: 100%;
            height: 15rem;
            object-fit: cover;
            border-radius: 1rem;  
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            }
</style>
<!-- From Uiverse.io by PriyanshSinghBisht 
<div class="patrones"></div>
<style>
      /* From Uiverse.io by PriyanshSinghBisht */ 
.patrones {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  --s: 100px;
  --c-inner: #adf;
  --c-outer: skyblue;
  --c-outer2: white;

  background: radial-gradient(
    circle at 50% 99%,
    transparent 10%,
    var(--c-inner) 10% 30%,
    var(--c-outer) 30% 60%,
    var(--c-outer2) 60% 100%,
    transparent 100%
  );
  background-size: var(--s) var(--s);
  animation: move 50s infinite linear;
}

@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

</style> -->