{% load static %}
<style>
    
      .btn-nav 
      {
            width: 100%;
            display: flex;
            flex-wrap: wrap;    
      }
      .btn-nav button 
      {
            padding: 0.4rem;
            margin-top: 0.1rem;
            border-radius: 0.4rem !important ;
            border: none !important;
            background-color: #ffffff !important;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           
      }
      .btn-nav button img, .btn-nav button span
      {
            transition: 0.3s;
      }
      .btn-nav button, a
      {
            width: 100%;
            height: auto;
            display: flex; 
            border: 0px;
            justify-content: start;
            align-content: center;
            border-radius: 1rem;
            border: 0px;
            text-decoration: none;
      }
      .btn-nav button img
      {
            margin-right: 0.6rem;
            width: 30px !important;
            padding: 0.3rem;
            border-radius: 50%;
            /* background-color: #f9f9f9 !important ;
            border: 1px solid #eeeeee; */
      }  
      .btn-nav button span
      {
            margin-top: 0.3rem;
            font-size: 14px !important; font-weight: 400;
            color: #000000;
      }

      .btn-nav strong
      {
            width: 100%;
            font-size: 10px !important;
            color: rgb(117, 117, 117);
      }

      .btns-creditos-opciones button
      {
            width: max-content; background-color: white;
            font-size: 12px !important;
            border-radius: 2rem !important;

      }

</style>

<section class="  sec-btn    card   mb-1 mt-0 border-0 overflow-scroll " 
      style="border-radius: 0rem;  height: max-content;">
      <div class="    w-100  position-absolute top-0 " style=" height: 10rem; border-radius: 0rem;">
            <div class="position-relative  z-2"> 
                <div class="d-flex justify-content-center  overflow-hidden align-content-center flex-wrap" style="background-color: #83121200 ; height: 6.8rem; 
                border-radius: 0.9rem;" >
                        {% include "cp/portada.html" %}
                        <span class="  d-flex flex-wrap  align-content-center position-absolute  justify-content-center top-0 z-2 card border-0 p-1 bg-transparent rounded-1" 
                        style=" margin-top: 4rem;">
                        <div class="w-100 d-flex justify-content-center mb-2">
                              <img src="{{request.user.more.company.logo.url}}"    class="  object-fit-cover rounded-circle " style="border: 1px; width: 60px; height: 60px; border: 4px solid white; " alt="">
                        </div>
                        <h6 style="font-size: 14px; margin-top: 7rem; font-weight: normal;" class="text-black text-center w-100 p-0 m-0 blur-5">
                              {{request.user.more.company.name}} 
                        </h6>
                        <p class="text-black-50 p-0 m-0" style="font-size: 12px;">
                              {{request.user.more.company.description}}    
                        </p>
                      </span>
                </div>  
            </div>
      </div>
      <div class='btn-nav p-2  pb-2   d-flex flex-wrap align-content-center' data-aos="fade-in"             
            style="transition: 0s; height: 100vh;" >
          
            <button class="btn-dashboard mt-5">
                  <img src="{% static "icons/grafico.png" %}" width='24' alt="">
                  <a href="{% url "dashboard" %}"  >
                        <span >
                              Dashboard  
                        </span>
                  </a>
            </button>

            <button class="btn-clientes position-relative"> 
                  <img class="img-cliente" src="{% static "icons/user.svg" %}" width='24' alt="">
                  <a href="{% url 'client:client' %}">
                        <span>
                              Clientes  
                        </span>
                  </a>
                  {% include "client/cp/more-options.html" %}  <!-- More options for client -->
            </button>

            <button class="btn-creditos">
                  <img class="img-creditos" src="{% static "icons/list.svg" %}" width='24' alt="">
                  <a href="{% url 'credit:credit' %}">
                        <span>
                              Creditos
                        </span>
                  </a>
                  {% include "credit/cp/more-options.html" %}  <!-- More options for credit -->
            </button>

            <button class="btn-maps">
                  <img src="{% static "icons/map.svg" %}" width='24' alt="">
                  <a href="{% url 'maps:maps' %}">
                        <span>
                              Mapas 
                        </span>
                  </a>
            </button>

            <button class="btn-calendario">
                  <img src="{% static "icons/calendar.svg" %}" width='24' alt="">
                  <a href="{% url 'agenda:agenda' %}">
                        <span>
                                    Agenda
                              </span>
                        </a>
            </button>

            <button class="btn-mensajeria">
                  <img src="{% static "icons/msj.png" %}" width='24' alt="">
                  <a href="{% url 'mensajeria:mensajeria' %}">
                        <span>
                              Mensajeria
                        </span>
                  </a>
                  </button>

            <button>
                  <img src="{% static "icons/document.svg" %}" width='24' alt="">
                  <a href="{% url 'caja:caja' %}">

                        <span>
                              Caja
                        </span>
                  </a>
            </button>

            <button class="btn-calculator">
                  <img class='img-calculator' onclick="OpenCalculator()" src="{% static "icons/calculator.png" %}" width='24' alt="">
                  <a href="{% url 'calculator:calculator' %}">
                        <span>
                              Calculadora
                        </span>
                  </a>
            </button>
 

            <a href="{% url 'company:company-update' request.user.more.company.id %}">
                  <button class="btn-empresa">
                        <img src="{% static "icons/config.svg" %}" width='24' alt="">
                        <span>
                              Configuracion
                        </span>
                  </button> 
            </a>

      </div>

      {% include "cp/options-nav.html" %}
</section>
<script>
      // More options for client
      document.querySelector('.img-cliente').addEventListener('click', function() {
            const moreOptions = document.querySelector('.more-options-nav');
            if (moreOptions) {
                  moreOptions.classList.toggle('d-none');
            }
      });


      // More options for credit
      document.querySelector('.img-creditos').addEventListener('click', function() {
            const moreOptions = document.querySelector('.credits-options');
            if (moreOptions) {
                  moreOptions.classList.toggle('d-none');
            }
      });



      function OpenCalculator()
      {
            const moreOptions = document.querySelector('.div-calculator');
                  if (moreOptions) {
                        moreOptions.classList.toggle('d-none');
                  }
            document.querySelector('.capital-calculator').focus();
      }


      
</script>