{% load static %}
<style>
    
      .btn-nav 
      {
            width: 100%;
            display: flex;
            flex-wrap: wrap;    

      }
      .btn-nav button 
      {
            padding: 0.4rem;
            margin-top: 0.1rem;
            border-radius: 0.8rem !important ;
            /* margin-left: 0.4rem; */
            border: none !important;
            background-color: #ffffff !important;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .btn-nav button:hover
      {
            background-color: #f9f9f9 !important;
      }
      .btn-nav button, a
      {
            width: 100%;
            height: auto;
            display: flex; 
            border: 0px;
            justify-content: start;
            align-content: center;
            border-radius: 1rem;
            border: 0px;
            text-decoration: none;
      }
      .btn-nav button img
      {
            margin-right: 0.6rem;
            width: 30px !important;
            padding: 0.3rem;
            border-radius: 50%;
            background-color: #f9f9f9 !important ;
            border: 1px solid #eeeeee;
      }  
      .btn-nav button span
      {
            margin-top: 0.3rem;
            font-size: 14px !important; font-weight: 400;
            color: #000000;
      }

      .btn-nav strong
      {
            width: 100%;
            font-size: 10px !important;
            color: rgb(117, 117, 117);
      }

      .btns-creditos-opciones button
      {
            width: max-content; background-color: white;
            font-size: 12px !important;
            border-radius: 2rem !important;

      }

</style>
<section class="  sec-btn ms-2 me-2   card   mb-1 mt-0 border-0 overflow-scroll " 
      style="border-radius: 0rem;  height: max-content;">
      <div class='btn-nav  pb-2' data-aos="fade-in" style="transition: 1s;" >
            <div class="    w-100 " style=" height: 14.5rem; border-radius: 0rem;">
                  <div class="position-relative "> 
                      <div class="d-flex justify-content-center  align-content-center flex-wrap" style="background-color: #eaeaea ; height: 6.8rem; 
                      border-radius: 1.2rem;" >
                              <span class="  d-flex flex-wrap align-content-center justify-content-center top-0 card border-0 p-1 bg-white rounded-5" 
                              style="height: 60px; width: 60px; margin-top: 7rem;">
                              <img src="{% static "img/me.JPEG" %}"    class="  object-fit-cover rounded-circle w-100 h-100" style="border: 1px;" alt="">
                            </span>
                                 <h6 style="font-size: 16px; font-weight: bold;" class="text-black text-center w-100 p-0 m-0">
                                    {{company.name}} Market Money SRL
                              </h6>
                              <span style="font-size: 10px;" class="text-black-50">
                                    {{request.user.first_name}} {{request.user.last_name}}
                              </span>
                      </div>  
                  </div>
            </div>
             
            <div class="mt- d-none w-100">
                  <strong >
                   App
                  </strong>
            </div>
         
            <a href="{% url "dashboard" %}"  class=" mt-5 text-decoration-none btn-dashboard">
                  <button class="btn-cliente">
                        <img src="{% static "icons/grafico.png" %}" width='24' alt="">
                        <span class=" text-start ">
                              Dashboard  
                        </span>
                  </button>
            </a>

            <a href="{% url 'client:client' %}">
                  <button class="btn-cliente"> 
                        <img src="{% static "icons/user.svg" %}" width='24' alt="">
                        <span>
                              Clientes  
                        </span>
                  </button>
            </a>

            <a href="{% url 'credit:credit' %}">
                  <button class="btn-creditos">
                        <img src="{% static "icons/list.svg" %}" width='24' alt="">
                        <span>
                              Listado de creditos
                        </span>
                  </button>
            </a>
        
            <a >
                  <button class="btn-ubicaciones">
                        <img src="{% static "icons/map.svg" %}" width='24' alt="">
                        <span>
                              Maps de clientes
                        </span>
                  </button>
            </a>
  

            <div class="mt-0 d-none w-100">
                  <strong >
                        Utilidades
                  </strong>
            </div>

            <a >
                  <button class="btn-calendario">
                        <img src="{% static "icons/calendar.svg" %}" width='24' alt="">
                        <span>
                              Agenda
                        </span>
                  </button>
            </a>

            <a  >
                  <button class="btn-mensajeria">
                        <img src="{% static "icons/msj.png" %}" width='24' alt="">
                        <span>
                              Mensajeria
                        </span>
                  </button>
            </a>

            <a href="{% url 'company:company' %}">
                  <button class="btn-empresa">
                        <img src="{% static "icons/Bank.png" %}" width='24' alt="">
                        <span>
                              Empresa
                        </span>
                  </button> 
            </a>
            <button>
                  <img src="{% static "icons/document.svg" %}" width='24' alt="">
                  <span>
                        Historial de credito
                  </span>
            </button>
    
            <button class="btn-prestamos">
                  <img src="{% static "icons/statu_up.png" %}" width='24' alt="">
                  <span>
                        Inversiones
                  </span>
            </button>

      </div>
</section>

<!-- <button  class="position-absolute bottom-0 start-0 m-1  border-0 bg-white">
      <img src="{% static "icons/config.svg" %}" width='24' alt="">
</button> -->

<script>
      let resultadoParrafoES = document.getElementById('resultado-es')
      let resultadoParrafo2ES = document.getElementById('resultado-es2')
      let resultadoParrafo3ES = document.getElementById('resultado-es3')
      let plazoES = document.getElementById('plazo-es')
      let numeroES = document.getElementById('numero-es')


      let SuperCal2 = (capital, plazo, tasa)=> {
      
      const Cuotas = capital * tasa / (1 - Math.pow(1 + tasa, -plazo));
      let amortizacion = [];
      let saldo = capital;
      let totalIntereses = 0; 
      for (let mes = 1; mes <= plazo; mes++) {
            const interes = saldo * tasa; 
            const amortizacionCapital = Cuotas - interes;   
            saldo -= amortizacionCapital;
            totalIntereses += interes; 
            amortizacion.push({
                  Mes: mes,
                  Cuota: Cuotas.toFixed(2),
                  Interes: interes.toFixed(2),
                  AmortizacionCapital: amortizacionCapital.toFixed(2),
                  Saldo: saldo.toFixed(2)
            }); }
            let totales = capital + totalIntereses

      const numero = parseFloat(numeroES.value);
  
      resultadoParrafoES.textContent = '$' + Cuotas.toLocaleString(undefined, {maximumFractionDigits: 0}) + '.00';
      resultadoParrafo2ES.textContent = '$' + totalIntereses.toLocaleString(undefined, {maximumFractionDigits: 0}) + '.00'
      resultadoParrafo3ES.textContent = '$' + totales.toLocaleString(undefined, {maximumFractionDigits: 0}) + '.00'
      if(numeroES.value != ''){
            let numero = numeroES.value.replace(/,/g, ''); // Elimina las comas existentes
            if (!isNaN(numero) && numero.trim() !== '') {
                numeroES.value = parseFloat(numero).toLocaleString();
            } else {
                numeroES.value = numeroES.value.replace(/[^\d.]/g, ''); 
                // Elimina cualquier carácter no numérico excepto el punto decimal
            }
      }

} 

numeroES.addEventListener("input", () => {

      
      let numero = numeroES.value.replace(/,/g, ''); // Elimina las comas existentes
      let capital = parseInt(numero)
      let plazo =   plazoES.value
      let tasa = 0.15
      SuperCal2(capital, plazo, tasa)
});
plazoES.addEventListener("input", () => {
      let numero = numeroES.value.replace(/,/g, ''); // Elimina las comas existentes
      let capital = parseInt(numero)
      let plazo =   plazoES.value
      let tasa = 0.15
      SuperCal2(capital, plazo, tasa)
});
</script>