{% load static %}
<style>
    
      .btn-nav 
      {
            width: 100%;
            display: flex;
            flex-wrap: wrap;    

      }
      .btn-nav button 
      {
            padding: 0.4rem;
            margin-top: 0.1rem;
            border-radius: 0.8rem !important ;
            /* margin-left: 0.4rem; */
            border: none !important;
            background-color: #ffffff !important;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .btn-nav button:hover
      {
            background-color: #f9f9f9 !important;
      }
      .btn-nav button, a
      {
            width: 100%;
            height: auto;
            display: flex; 
            border: 0px;
            justify-content: start;
            align-content: center;
            border-radius: 1rem;
            border: 0px;
            text-decoration: none;
      }
      .btn-nav button img
      {
            margin-right: 0.6rem;
            width: 30px !important;
            padding: 0.3rem;
            border-radius: 50%;
            background-color: #f9f9f9 !important ;
            border: 1px solid #eeeeee;
      }  
      .btn-nav button span
      {
            margin-top: 0.3rem;
            font-size: 14px !important; font-weight: 400;
            color: #000000;
      }

      .btn-nav strong
      {
            width: 100%;
            font-size: 10px !important;
            color: rgb(117, 117, 117);
      }

      .btns-creditos-opciones button
      {
            width: max-content; background-color: white;
            font-size: 12px !important;
            border-radius: 2rem !important;

      }

</style>

<section class="  sec-btn    card   mb-1 mt-0 border-0 overflow-scroll " 
      style="border-radius: 0rem;  height: max-content;">
      <div class='btn-nav  pb-2' data-aos="fade-in" style="transition: 1s;" >
            <div class="    w-100 " style=" height: 12.5rem; border-radius: 0rem;">
                  <div class="position-relative "> 
                      <div class="d-flex justify-content-center overflow-hidden align-content-center flex-wrap" style="background-color: #83121200 ; height: 5.8rem; 
                      border-radius: 1.5rem;" >
                              {% include "cp/patrones.html" %}
                              <span class="  d-flex flex-wrap align-content-center position-absolute  justify-content-center top-0 card border-0 p-1 bg-transparent rounded-5" 
                              style=" margin-top: 4rem;">
                              <div class="w-100 d-flex justify-content-center">
                                    <img src="{% static "img/me.JPEG" %}"    class="  object-fit-cover rounded-circle " style="border: 1px; width: 60px; height: 60px; border: 4px solid white; " alt="">
                              </div>
                              <h6 style="font-size: 16px; margin-top: 7rem; font-weight: bold;" class="text-black text-center w-100 p-0 m-0">
                                    {{request.user.more.company.name}} 
                              </h6>
                            </span>
                      </div>  
                  </div>
            </div>
             
            <div class="mt- d-none w-100">
                  <strong >
                   App
                  </strong>
            </div>
         
            <button class="btn-dashboard mt-5">
                  <img src="{% static "icons/grafico.png" %}" width='24' alt="">
                  <a href="{% url "dashboard" %}"  >
                        <span >
                              Dashboard  
                        </span>
                  </a>
            </button>

            <button class="btn-cliente position-relative"> 
                  <img class="img-cliente" src="{% static "icons/user.svg" %}" width='24' alt="">
                  <a href="{% url 'client:client' %}">
                        <span>
                              Clientes  
                        </span>
                  </a>
                  {% include "client/cp/more-options.html" %} <!-- More options for client -->
            </button>

            <button class="btn-creditos">
                  <img src="{% static "icons/list.svg" %}" width='24' alt="">
                  <a href="{% url 'credit:credit' %}">
                        <span>
                              Listado de creditos
                        </span>
                  </a>
                  </button>
        
            <a >
                  <button class="btn-ubicaciones">
                        <img src="{% static "icons/map.svg" %}" width='24' alt="">
                        <span>
                              Maps de clientes
                        </span>
                  </button>
            </a>
  

            <div class="mt-0 d-none w-100">
                  <strong >
                        Utilidades
                  </strong>
            </div>

            <a >
                  <button class="btn-calendario">
                        <img src="{% static "icons/calendar.svg" %}" width='24' alt="">
                        <span>
                              Agenda
                        </span>
                  </button>
            </a>

            <a  >
                  <button class="btn-mensajeria">
                        <img src="{% static "icons/msj.png" %}" width='24' alt="">
                        <span>
                              Mensajeria
                        </span>
                  </button>
            </a>

            <a href="{% url 'company:company' %}">
                  <button class="btn-empresa">
                        <img src="{% static "icons/Bank.png" %}" width='24' alt="">
                        <span>
                              Empresa
                        </span>
                  </button> 
            </a>

            <button>
                  <img src="{% static "icons/document.svg" %}" width='24' alt="">
                  <span>
                        Historial de credito
                  </span>
            </button>
    
            <button class="btn-prestamos">
                  <img src="{% static "icons/statu_up.png" %}" width='24' alt="">
                  <span>
                        Inversiones
                  </span>
            </button>
            <button class="btn-calculator">
                  <img class='img-calculator' src="{% static "icons/calculator.png" %}" width='24' alt="">
                  <a href="{% url 'calculator:calculator' %}">
                        <span>
                              Calculadora
                        </span>
                  </a>
            </button>
            {% include "calculator/cp/more-options.html" %} <!-- More options for calculadora -->

      </div>

      {% comment %} 
            Fotter 
      {% endcomment %}
      {% include "cp/options-nav.html" %}
</section>
<script>
      document.querySelector('.img-cliente').addEventListener('click', function() {
            const moreOptions = document.querySelector('.more-options-nav');
            if (moreOptions) {
                  moreOptions.classList.toggle('d-none');
            }
      });
      document.querySelector('.img-calculator').addEventListener('click', function() {
            const moreOptions = document.querySelector('.div-calculator');
            if (moreOptions) {
                  moreOptions.classList.toggle('d-none');
            }
      });
      document.querySelector('.close-calculator').addEventListener('click', function() {
            const moreOptions = document.querySelector('.div-calculator');
            if (moreOptions) {
                  moreOptions.classList.toggle('d-none');
            }
      });
</script>